/*-------------------------------------------
   	Mixins / Config
-------------------------------------------*/

@import "imports/config";
@import "imports/mixins";

/*-------------------------------------------
   	Fonts
-------------------------------------------*/

@import "imports/font";
@import url('http://use.typekit.net/c/b3f386/proxima-nova:n4:n7,proxima-nova-condensed:n3:n6.W0V:H:2,W0Y:H:2,SCX:H:2,SCc:H:2/d?3bb2a6e53c9684ffdc9a9bf61b5b2a628b788d2543d3caa13a87032587d8208b88b5a612939cb2de51866a97057f6eb5c13d40d0801916cc3003870b955212e9285efce884daa573b41e2f045a75921aaa7fffc66dd9f50ff6d0b7ca789927a3e51c3b3a9b');

/*-----------------------------------------------------
   	Using SilverStripe .typography class for CMS editor
------------------------------------------------------*/

.typography {
	
	font-family: $body-font;
	font-size: $base-font-size;
	line-height: 1.5;
	
	@import "imports/typography";
}
