/* /scss/imports/forms.scss
========================================================================== */
form {
    margin: 1em 0;
}
fieldset {
    padding: 0;
    margin: 0;
    border: 0;
}
textarea {resize: vertical;}
input,
button,
select,
textarea {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
label {
    display: block;
    font-weight: bold;
    margin-bottom: 3px;
}
select,
textarea,
input.text {
    display: inline-block;
    padding: 4px 6px;
    font-size: 14px;
    line-height: 20px;
    color: #555555;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
input,
textarea,
.uneditable-input {
    width: 206px;
}
textarea {
    height: auto;
}
textarea,
input.text {
    border: 1px solid #cccccc;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border linear .2s, box-shadow linear .2s;
    -moz-transition: border linear .2s, box-shadow linear .2s;
    -o-transition: border linear .2s, box-shadow linear .2s;
    transition: border linear .2s, box-shadow linear .2s;
}
textarea:focus,
input.text:focus {
    border-color: rgba(82, 168, 236, 0.8);
    outline: 0;
    outline: thin dotted \9;
    /* IE6-9 */

    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
}
input[type="radio"],
input[type="checkbox"] {
    margin: 4px 5px 0;
    *margin-top: 0;
    /* IE7 */

    margin-top: 1px \9;
    /* IE8-9 */

    line-height: normal;
    cursor: pointer;
}
input[type="file"],
input[type="image"],
input[type="submit"],
input[type="reset"],
input[type="button"],
input[type="radio"],
input[type="checkbox"] {
    width: auto;
}
select, input[type="file"] {
    height: 30px;
    /* In IE7, the height of the select element cannot be changed by height, only font-size */

    *margin-top: 4px;
    /* For IE7, add top margin to align select with labels */

    line-height: 30px;
}
select {
    width: 220px;
    border: 1px solid #cccccc;
    background-color: #ffffff;
}
select[multiple], select[size] {
    height: auto;
}
select:focus,
input[type="file"]:focus,
input[type="radio"]:focus,
input[type="checkbox"]:focus {
    outline: thin dotted #333;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
}

input,
textarea,
.uneditable-input {
    margin-left: 0;
    width: 100%; 
}

.Actions {
    padding: 19px 20px 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: #f5f5f5;
    border-top: 1px solid #e5e5e5;
    *zoom: 1;
}
.Actions:before,
.Actions:after {
    display: table;
    content: "";
    line-height: 0;
}
.Actions:after {
    clear: both;
}
.Actions .action {
    background: #000;
    color: #fff;
    border: none;
    display: inline-block;
    font-size: 16px;
    padding: 9px 14px;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    border-radius: 3px;
}
.field {
    margin-bottom: 10px;
}
.field .left, .field .right {
  float: none;
}
.checkboxset, .optionset {
    list-style: none;
    margin: 0 0 9px 0;
    padding: 0;
}
.checkbox, .radio {
    display: inline;
}
.checkboxset .middleColumn label, .optionset .middleColumn label {
    display: inline;
    font-weight: normal;
}
.message.required {
    color: #f00;
    display: block;
    margin-bottom: 5px;
}
