/*-------------------------------------------
    Px to Em conversion
-------------------------------------------*/
$browser-context: 16;
@function em($pixels, $context: $browser-context) {
    @return #{$pixels/$context}em
}
/* usage: font-size: em(18) */

/*-------------------------------------------
    Px to Rem conversion
-------------------------------------------*/
@mixin rem($size){
  font-size: $size + px;
  font-size: ($size / $base-font) + rem;
}
/* usage
    p {
        @include font-size(13);
    }
*/




/* =============================================================================
    Vertical Gradient with solid colour back-up
    ========================================================================= */

@mixin gradient($color: #F5F5F5, $start-color: #EEE, $end-color: #FFF) {
    background-color: $color;
    background-repeat: repeat-x;
    background-image: -moz-linear-gradient($start-color, $end-color); /* FF 3.6+ */
    background-image: -ms-linear-gradient($start-color, $end-color); /* IE10 */
    background-image: -webkit-linear-gradient($start-color, $end-color); /* Safari 5.1+, Chrome 10+ */
    background-image: -o-linear-gradient($start-color, $end-color); /* Opera 11.10 */
    background-image: -ms-linear-gradient(top, $start-color 0%, $end-color 100%); /* IE10+ */
    background-image: linear-gradient($start-color, $end-color); /* the standard */
}

/* Example

body {
    @include gradient($color: #F5F5F5, $start-color: #EEE, $end-color: #FFF);
}

*/

/* =============================================================================
    Transition mixin with speed and timing function
    ========================================================================= */

@mixin transition($duration:0.2s, $ease:linear) {
    -webkit-transition: all $duration $ease;
    -moz-transition: all $duration $ease;
    transition: all $duration $ease;
}

@mixin transition-delay($delay:0.2s) {
    -webkit-transition-delay: $delay;
    -moz-transition-delay: $delay;
    transition-delay: $delay;
}

/* Example

a {
    @include transition(0.3s, ease-out);
}

*/

/* =============================================================================
    Border radius containing background clip
    ========================================================================= */

@mixin border-radius($radius: 5px) {
    border-radius: $radius;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
}

/* Example

div {
    @include border-radius(4px 0 0 4px);
}

*/

/* =============================================================================
    Box-shadow complete with vendor prefixes, up to 5 shadow parameters
    ========================================================================= */

@mixin box-shadow($shadow1, $shadow2:false, $shadow3:false, $shadow4:false, $shadow5:false) {
    $params: $shadow1;

    @if $shadow2 {
        $params: $shadow1, $shadow2;
    }
    @if $shadow3 != false {
        $params: $shadow1, $shadow2, $shadow3;
    }
    @if $shadow4 != false {
        $params: $shadow1, $shadow2, $shadow3, $shadow4;
    }
    @if $shadow5 != false {
        $params: $shadow1, $shadow2, $shadow3, $shadow4, $shadow5;
    }

    -webkit-box-shadow: $params;
    -moz-box-shadow: $params;
    box-shadow: $params;
}

/* Example

div {
    @include box-shadow(
        0 0 5px 5px rgba(0,0,0,0.25),
        inset 0 0 5px rgba(0,0,0,0.25),
    );
}

*/

/* =============================================================================
    Calculate fluid ratio for an image based on two dimensions (width/height)
    - http://goo.gl/Wl694
    ========================================================================= */

@mixin fluid-ratio($large-size, $small-size) {
    $width-large: nth($large-size, 1);
    $width-small: nth($small-size, 1);
    $height-large: nth($large-size, 2);
    $height-small: nth($small-size, 2);
    $slope: ($height-large - $height-small) / ($width-large - $width-small);
    $height: $height-small - $width-small * $slope;

    height: $height;
    padding-top: $slope * 100%;

    -moz-background-size: cover;
    background-size: cover;
    background-position: center;  /* Internet Explorer 7/8 */
}

/* Example - The following will have fluid ratio from 4:1 at 800px to 2:1 at 300px.

    HTML:
    <div class="column">
        <figure class="fixedratio"></figure>
    </div>

    CSS:
    .column {
        max-width: 800px;
    }
    .fixedratio {
        @include fluid-ratio(800px 200px, 300px 150px);
        background-image: url(/path/to/file/);
    }

*/