/* /scss/imports/tables.scss
========================================================================== */
table {
    max-width: 100%;
    background-color: transparent;
    border-collapse: collapse;
    border-spacing: 0;
}
table {
    width: 100%;
    max-width: 100%;
    background-color: transparent;
    border-collapse: collapse;
    border-spacing: 0;
    & th, & td {
        padding: 8px;
        line-height: 1.5;
        text-align: left;
        vertical-align: top;
        border-top: 1px solid #ddd;}
    & th {
        font-weight: bold;}
    & thead th {
        vertical-align: bottom;}
    & caption + thead tr:first-child th,
    & caption + thead tr:first-child td,
    & colgroup + thead tr:first-child th,
    & colgroup + thead tr:first-child td,
    & thead:first-child tr:first-child th,
    & thead:first-child tr:first-child td {
        border-top: 0;}
    & tbody + tbody {
        border-top: 2px solid #ddd;}
}
/* CONDENSED ==================================================== */
.table-condensed {
    & th, & td {
        font-size: 13px;
        padding: 4px 5px;
    }
}
/* BORDERED ==================================================== */
.table-bordered {
    border: 1px solid #ddd;
    border-left : 0;
    border-collapse : separate;
    *border-collapse : collapsed;
    th, td {
        border-left : 1px solid #ddd;}
    caption + thead tr:first-child th,
    caption + tbody tr:first-child th,
    caption + tbody tr:first-child td,
    colgroup + thead tr:first-child th,
    colgroup + tbody tr:first-child th,
    colgroup + tbody tr:first-child td,
    thead:first-child tr:first-child th,
    tbody:first-child tr:first-child th,
    tbody:first-child tr:first-child td {
        border-top : 0;}
}
/* STRIPED ==================================================== */
.table-striped tbody tr:nth-child(odd) td,
.table-striped tbody tr:nth-child(odd) th {
    background-color: #f9f9f9;
}
/* HOVER ==================================================== */
.table-hover tbody tr:hover td,
.table-hover tbody tr:hover th {
    background-color: #f5f5f5;
}