.accordion {
    margin-bottom: 0;

}

.accordion-item {
    margin-bottom: 1rem;
}



.accordion-title {
    font-weight: bold;
    color: #000;
    background: #edeceb;

    span {
        display: inline-block;
    }
}

.accordion-title:focus,
.accordion-title:hover {
    color: #000;
    text-decoration: none;
    background: #e3e2e0;
}

.accordion-content br:first-child {
    //display: none;
}

.accordion-img {
    width: 50px;
    display: inline-block;
    margin-right: 10px;
}
