.accordion{
	margin-bottom: 0;
}

.accordion-item{
	margin-bottom: 5px;
}

.accordion-title{
	font-weight: bold;
	color: #222;

	span{
		display: inline-block;
	}
}

.accordion-content br:first-child{
	//display: none;
}

.accordion-img{
	width: 50px;
	display: inline-block;
	margin-right: 10px;
}