.breadcrumb {
	background-color: $black;
	height: 50px;
	position: relative;
	&__list {
		list-style: none;
		margin: 0;
		overflow: hidden;
        padding: 0;
		white-space: nowrap;
		@include breakpoint(small down) {
			white-space: nowrap;
			overflow: auto;
			overflow-x: scroll;
			overflow-y: hidden;
			-webkit-overflow-scrolling: touch;
		}
	}
	&__listitem {
		display: inline-block;
		font-size: rem-calc(11);
		position: relative;
		text-transform: uppercase;
		&:after {
			color: $dark-gray;
			content: "/";
			display: inline-block;
            margin: 0 6px 0 8px;
		}
		&:last-child:after {
			content: ""; // removes slash on last item
		}
        @include breakpoint(medium) {
            font-size: rem-calc(13);
        }
	}
	&__anchor {
		color: $white;
		display: inline-block;
		letter-spacing: .4px;
		padding: 16px 0;
		@include breakpoint(medium) {
			padding: 20px 0;
		}
		&:hover, &:focus, &:active {
			color: $white;
			text-decoration: underline;
		}
		&--active {
			color: $highlight;
			&:hover, &:focus, &:active {
				color: $highlight;
			}
		}
	}
    @include breakpoint(medium) {
        height: auto;
        margin-bottom: 0;
    }
}
.body--dark-header .breadcrumb {
	background-color: transparent;
	top: 1px;
	&__anchor {
		color: $black;
	}
}
