/* Buttons
Class names to use in template
normal: "button"
black: "button black"
large: "button large"
hollow: "button hollow", "button black hollow"
clear: "button clear"
/*

/* Foundation button changes */
.button {
    letter-spacing: .04rem;
    position: relative;
    text-transform: uppercase;
    &.large {
        font-family: $header-font-family;
        font-weight: bold;
        letter-spacing: 0;
    }
    & .fas {
        margin-left: rem-calc(5); // adds margin to icons
    }
    i {
        color: #fff; /* sets icon color to white */
    }
    &::after {
        content: '';
        position: absolute;
        left: 50%;
        bottom: 0;
        width: 100%;
        height: 4px;
        background-color: $black;
        transform-origin: center;
        transform: translate(-50%, 0) scaleX(0);
        transition: transform 0.3s ease-in-out;
    }
}

.button:hover::after,
.button:focus::after {
    transform: translate(-50%, 0) scaleX(1);
}
// Black button
.button.black {
    & i {
        color: $highlight; // Icon
    }
    &::after {
        background-color: $highlight; // Hover animation
    }
}
// Hollow styles
.button.hollow {
    color: $black;
    & i {
        color: $highlight; // Icon
    }
    &::after {
        background-color: $highlight; // Hover animation
    }
    &:hover, &:focus {
        color: $black;
        border-color: $highlight;
    }
}
// Clear Styles - No border
.button.clear {
    color: $black;
    & i {
        color: $highlight; // Icon
    }
    &::after {
        background-color: $highlight; // Hover animation
    }
    &:hover, &:focus {
        border-color: $black;
        color: $black;
    }
}



/* miscellanious styles. I'm not sure if we still need these */
.main-content__text .button {
    text-decoration: none;
}
.button--flex-full{
	display: flex; 
	height: 100%; 
	border-radius: 3px;
}
.button--skinny{
	padding: 5px;
	@include breakpoint(large) {
		padding: 10px;
	}
}



/* Login Button */
#SAMLLoginForm_LoginForm_action_dologin{
	-webkit-transition: all 1s ease-out;
	-moz-transition: all 1s ease-out;
	-o-transition: all 1s ease-out;
	transition: all 1s ease-out;
	background: #FFCD00;
	background: -webkit-linear-gradient(45deg, #FFCD00 0%,#dbb000 50%,#f0c100 50.01%,#ffe166);
	background: linear-gradient(45deg, #FFCD00 0%,#dbb000 50%,#f0c100 50.01%,#ffe166);
	color: #111;
}

