/* Buttons
Class names to use in template
normal: "button"
black: "button black"
large: "button large"
hollow: "button hollow", "button black hollow"
clear: "button clear"
/*

/* Foundation button changes */
.button {
    letter-spacing: .04rem;
    position: relative;
    text-transform: uppercase;

    //used in TopicHolder "browse by" tags:
    &--no-caps {
        text-transform: none;
    }

    &.large {
        font-family: $header-font-family;
        font-weight: bold;
        letter-spacing: 0;
    }

    & svg {
        margin-left: rem-calc(5); // adds margin to icons
        color: #fff;
        /* sets icon color to white */
    }

    &::after {
        content: '';
        position: absolute;
        left: 50%;
        bottom: 0;
        width: 100%;
        height: 4px;
        background-color: $black;
        transform-origin: center;
        transform: translate(-50%, 0) scaleX(0);
        transition: transform 0.3s ease-in-out;
    }

    &:focus {
        text-decoration: underline !important;
    }
}

.button:hover::after,
.button:focus::after {
    transform: translate(-50%, 0) scaleX(1);
}

// Black button
.button.black {
    & svg {
        color: $highlight; // Icon
    }

    &::after {
        background-color: $highlight; // Hover animation
    }
}

// Hollow styles
.button.hollow {
    color: $black;

    & svg {
        color: $highlight; // Icon
    }

    &::after {
        background-color: $highlight; // Hover animation
    }

    &:hover,
    &:focus {
        color: $black;
        border-color: #999;
    }
}

// Clear Styles - No border
.button.clear {
    color: $black;
    border: none;

    & svg {
        color: $highlight; // Icon
    }

    &::after {
        display: none;
    }

    &:hover,
    &:focus {
        color: $black;
        text-decoration: underline;

        & svg {
            color: $black;
        }
    }
}

/* fallback style to prevent odd coloring in weird/malformed TinyMCE-made buttons. */
.button a {
    text-decoration: none !important;
    color: $black;
}

.main-content__text .button {
    text-decoration: none;
}


//Used in TopicHolder "browse by" tags:
.button--flex-full {
    display: flex;
    height: 100%;
}

.button--skinny {
    padding: 5px;

    @include breakpoint(large) {
        padding: 10px;
    }
}
