
/* border effect */
.border-effect {
	position: relative;
	&:after {
		display: block;
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		content: "";
		box-shadow: inset 0 0 0 1px #EAE6E3;
		margin: 5px;
		opacity: 0.4;
		pointer-events: none;
	}
}




/* Login Button */
#SAMLLoginForm_LoginForm_action_dologin{
	-webkit-transition: all 1s ease-out;
	-moz-transition: all 1s ease-out;
	-o-transition: all 1s ease-out;
	transition: all 1s ease-out;
	background: #FFCD00;
	background: -webkit-linear-gradient(45deg, #FFCD00 0%,#dbb000 50%,#f0c100 50.01%,#ffe166);
	background: linear-gradient(45deg, #FFCD00 0%,#dbb000 50%,#f0c100 50.01%,#ffe166);
	color: #111;
}

