/* ---------------------------------------------------------------
Child Pages
--------------------------------------------------------------- */
.childpages {
	margin: rem-calc(30 0);
	&__page {
		border-bottom: 1px solid $light-gray;
		border-top: 1px solid $white;
		padding: rem-calc(30 0);
		&:first-of-type {
			border-top: 1px solid $light-gray;
		}
		&:last-of-type {
			border-bottom: none;
		}
	}
	&__blocklink {
		display: block;
		overflow: hidden;
		text-decoration: none;
	}
	&__img {
		display: block;
		float: right;
		margin: rem-calc(0 0 15 15);
		width: 25%;
		@include breakpoint(medium) {
			float: left;
			margin: 0;
			width: 25%;
		}
	}
	&--withphoto .childpages__content {
		@include breakpoint(medium) {
			margin-left: 28%;
		}
	}
	&__title {
		color: $black;
		margin: 0;
	}
	&__summary {
		color: $black;
		font-size: rem-calc(16);
		margin-top: rem-calc(5);
	}
	&__link {
		border-bottom: 4px solid $highlight;
		color: $black;
		display: block;
		float: left;
		font-size: rem-calc(12);
		font-weight: bold;
		letter-spacing: .5px;
		padding: rem-calc(5 0);
		position: relative;
		text-transform: uppercase;
		transition: .15s ease-in-out;
	}
	&__blocklink:hover .childpages__link,
	&__blocklink:focus .childpages__link {
		border-bottom-color: $black;
	}
}
