.content-block{
	// padding: rem-calc(30 0);
	&__container{

		@include breakpoint(large) {
			// margin-top: rem-calc(30);
		}
	}
}



/* Before Content */
.block_area_beforecontent {
	background-color: #f8f8f8;

	/* Text Block */
	& .textblock {
		padding: rem-calc(30 0);
		@include breakpoint(large) {
			padding: rem-calc(60 0);
		}
	}
}

/* Sidebar Text Block */
.block_area_sidebar .textblock {
	font-size: rem-calc(16);
}