.block_area_aftercontentconstrained,
.block_area_beforecontentconstrained {
	@include breakpoint(medium) {
		padding-right: rem-calc(20);
	}
}
/* Before Content */
.block_area_beforecontent, .block_area_aftercontent {
	background-color: $cream;

	/* Text Block */
	& .textblock {
		padding: rem-calc(30 0);
		@include breakpoint(large) {
			padding: rem-calc(60 0);
		}
	}
}
.block_area_aftercontentconstrained .content-block__container,
.block_area_sidebar .content-block__container {
	margin: 2em 0;
}

/* Featured Page
======================================================================= */
.featuredpageblock {
	@include grid-row;
	background-color: $cream;
	padding: rem-calc(20);
	&__media {
		@include breakpoint(mobile) {
			@include grid-column(6);
		}
		& a {
			display: block;
		}
	}
	&__body--wimage {
		@include breakpoint(mobile) {
			@include grid-column(6);
		}
	}
	&__desc {
		margin: rem-calc(20 0);
	}
	&__title {
		margin-top: .5em;
		margin-bottom: rem-calc(20);
		font-size: rem-calc(28);
		position: relative;
		@include breakpoint(mobile) {
			margin-top: 0;
		}
		& a {
			color: $body-font-color;
		}
		&:after {
			content: '';
			height: 2px;
			width: 50px;
			background-color: $black;
			position: absolute;
			left: 0;
			bottom: -8px;
		}
	}
	&__button {
		& a {
			background: $yellow;
			color: #000;
			display: inline-block;
			font-weight: bold;
			font-size: rem-calc(12);
			letter-spacing: 1px;
			padding: 12px 24px 12px;
			text-transform: uppercase;
			&:hover, &:focus {
				background-color: #000;
				color: #fff;
			}
		}
	}
	&__position {
		font-size: 85%;
		font-style: italic;
		line-height: 1.5;
	}
	&__contact {
		list-style: none;
		margin: 0;
		& li {
			font-size: 85%;
			& img {
				margin-right: 5px;
			}
		}
	}
	@include breakpoint(mobile) {
		padding: rem-calc(30 20);
	}
}

.featuredpageblock-bg {
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	color: #fff;
	position: relative;
	& .featuredpageblock__body {
		float:none;
		width: 100%;
		&:after {
			content: "";
			height: 100%;
			left: 0;
			position: absolute;
			top: 0;
			width: 100%;
			z-index: 1;
			background-image: linear-gradient(180deg, rgba(0, 0, 0, 0) 5%, rgba(0, 0, 0, 0.7) 80%);
		}
		@include breakpoint(medium) {
			bottom: 0;
			left: 0;
			padding: rem-calc(40);
			position: absolute;
		}
	}
	& .featuredpageblock__desc, & .featuredpageblock__button, & .featuredpageblock__rule, & .featuredpageblock__title {
		z-index: 2;
		position: relative;
	}
	& .featuredpageblock__title {
		font-size: rem-calc(45);
		text-shadow: 1px 1px rgba(0,0,0,.2);
		&:after {
			background-color: #fff;
		}
	}
	& .featuredpageblock__desc {
		font-weight: bold;
		line-height: 1.4;
	}
	@include breakpoint(medium) {
		padding: 56.25% 0 0 0;
	}
}


/* Sidebar --------------------------- */
.block_area_sidebar .featuredpageblock {
	&__media {
		@include breakpoint(large) {
			width: 100%;
			float: none;
			padding: 0;
		}
	}
	&__body {
		@include breakpoint(large) {

		}
	}
	@include breakpoint(large) {
		background-color: $yellow;
		padding: 0;
		&__title {
			font-size: rem-calc(20);
			text-transform: uppercase;
		}
		&__desc {
			font-size: rem-calc(16);
		}
		&__body, &__body--wimage {
			background-color: #fefefe;
			width: 92%;
			float: none !important;
			padding: rem-calc(20);
			margin: 4%;
			margin-top: -20px;
			position: relative;
		}
		&__button a {
			background-color: $black;
			color: #fff;
			&:hover, &:focus {
				background-color: $yellow;
				color: $black;
			}
		}
	}
}
/* After Content ------------------------- */
.block_area_aftercontent .featuredpageblock-bg {
	padding: 0;
	&:after {
		content: "";
		height: 100%;
		left: 0;
		position: absolute;
		top: 0;
		width: 100%;
		z-index: 1;
		background-image: linear-gradient(180deg, rgba(0, 0, 0, 0) 5%, rgba(0, 0, 0, 0.7) 80%);
	}
}
.block_area_aftercontent .featuredpageblock-bg .featuredpageblock {
	background-color: transparent;
	@include grid-row;
	&__body {
		position: relative;
		@include grid-column(8);
		&:after {
			display: none;
		}
	}
	@include breakpoint(large) {
		padding: rem-calc(80 0);
	}
}



/* Text Block
======================================================================= */
.block_area_sidebar .textblock {
	font-size: rem-calc(16);
}




/* Related News
======================================================================= */
.block_area_aftercontent .relatednewsblock {
	& .bloglistitem {
		padding-top: rem-calc(18);
	}
	& .bloglistitem__heading {
		text-transform: capitalize;
	}
	& .bloglistitem__desc {
		font-size: rem-calc(16);
	}
	& .byline__author img {
		display: none;
	}
}
.block_area_sidebar .relatednewsblock {
	background-color: #fff;
	border: 1px solid #e5e5e5;
	margin-bottom: 1.875rem;
	width: 100%;
	&__header {
		border-top: 4px solid #000;
		font-size: rem-calc(14);
		font-weight: 600;
		margin: rem-calc(0 20);
		padding: rem-calc(24 0 8px);
		text-transform: uppercase;
		letter-spacing: 1px;
	}
	& ul {
		list-style: none;
		margin: 0;
	}
	& li {
		border-bottom: 1px solid #e5e5e5;
		line-height: 1.4;
		&:last-of-type {
			border-bottom: none;
		}
	}
	& li img {
		display: block;
		margin-bottom: 8px;
		@include breakpoint(mobile) {
			float: right;
			width: 175px;
			margin-left: 1em;
		}
		@include breakpoint(large) {
			float: none;
			margin-left: 0;
			width: auto;
		}
	}
	& li a {
		color: $body-font-color;
		display: block;
		font-size: rem-calc(16);
		padding: rem-calc(20);
		position: relative;
		&:hover, &:focus {
			color: $anchor-color;
		}
	}

}




/* Staff Member
======================================================================= */

.staffmemberblock {
	@include grid-row;
	background-color: $cream;
	padding: rem-calc(20);
	&__media {
		@include breakpoint(mobile) {
			@include grid-column(6);
		}
		& a {
			display: block;
		}
	}
	&__body {
		@include breakpoint(mobile) {
			@include grid-column(6);
		}
	}
	&__desc {
		margin: rem-calc(20 0);
	}
	&__title {
		margin-top: .5em;
		margin-bottom: 1em;
		font-size: rem-calc(28);
		position: relative;
		@include breakpoint(mobile) {
			margin-top: 0;
		}
		&:after {
			content: '';
			height: 2px;
			width: 50px;
			background-color: $black;
			position: absolute;
			left: 0;
			bottom: -12px;
		}
	}
	&__button {
		& a {
			background: $yellow;
			color: #000;
			display: inline-block;
			font-weight: bold;
			font-size: rem-calc(12);
			letter-spacing: 1px;
			padding: 12px 24px 12px;
			text-transform: uppercase;
			&:hover, &:focus {
				background-color: #000;
				color: #fff;
			}
		}
	}
	&__position {
		font-size: 85%;
		font-style: italic;
		line-height: 1.5;
	}
	&__contact {
		list-style: none;
		margin: 0;
		& li {
			font-size: 85%;
			& img {
				margin-right: 5px;
			}
		}
	}
	@include breakpoint(mobile) {
		padding: rem-calc(30 20);
	}
}

/* Sidebar ------------------------- */
.block_area_sidebar .staffmemberblock {
	&__media {
		@include breakpoint(large) {
			width: 100%;
			float: none;
			padding: 0;
		}
	}
	@include breakpoint(large) {
		padding: 0;
		&__title {
			font-size: rem-calc(20);
			text-transform: uppercase;
		}
		&__desc {
			font-size: rem-calc(16);
		}
		&__body {
			width: 100%;
			float: none;
			padding: rem-calc(20);
		}
	}
}
/* After Content ----------------------- */
.block_area_aftercontent .staffmemberblock {
	@include breakpoint(large) {
		padding: rem-calc(60 0);
	}
}


/* ====================================================================
Video Block
======================================================================= */
.block_area_beforecontentconstrained .videoblock,
.block_area_aftercontentconstrained .videoblock {
	background-color: $cream;
	margin-bottom: 1em;
	&__media .flex-video {

	}
	&__body {
		padding: rem-calc(0 20 20 20);
	}
	&__title {
		margin-top: .5em;
		margin-bottom: 1em;
		font-size: rem-calc(20);
		position: relative;
		@include breakpoint(mobile) {
			margin-top: 0;
		}
		&:after {
			content: '';
			height: 2px;
			width: 50px;
			background-color: $black;
			position: absolute;
			left: 0;
			bottom: -12px;
		}
	}
	&__desc {
		font-size: rem-calc(16);
		& p {
			margin-bottom: 0;
		}
	}
}
.block_area_beforecontent .videoblock,
.block_area_aftercontent .videoblock {
	@include grid-row;
	background-color: $cream;
	padding: rem-calc(20);
	&__media {
		@include breakpoint(large) {
			@include grid-column(9);
			padding-right: rem-calc(40) !important;
		}
	}
	&__body {
		@include breakpoint(large) {
			@include grid-column(3);
		}
	}
	&__desc {
		margin: rem-calc(20 0);
	}
	&__title {
		margin-top: .5em;
		margin-bottom: 1em;
		font-size: rem-calc(28);
		position: relative;
		@include breakpoint(mobile) {
			margin-top: 0;
		}
		&:after {
			content: '';
			height: 2px;
			width: 50px;
			background-color: $black;
			position: absolute;
			left: 0;
			bottom: -12px;
		}
	}
	@include breakpoint(large) {
		padding: rem-calc(60 0);
	}
}

/* Sidebar ------------------------------ */
.block_area_sidebar .videoblock {
	background-color: $cream;
	&__title {
		font-size: rem-calc(20);
		text-transform: uppercase;
		position: relative;
		@include breakpoint(mobile) {
			margin-top: 0;
		}
		&:after {
			content: '';
			height: 2px;
			width: 50px;
			background-color: $black;
			position: absolute;
			left: 0;
			bottom: -12px;
		}
	}
	&__desc {
		font-size: rem-calc(16);
		margin: rem-calc(20 0);
	}
	&__body {
		width: 100%;
		float: none;
		padding: rem-calc(20);
		padding-top: 0;
	}
}


/* ====================================================================
Slideshow Block
======================================================================= */
.slideshowblock {
	& .orbit {
		margin-bottom: 2em;
	}
	& .orbit-container {
		height: auto !important;

	}
	& .orbit-slide {
		padding-bottom: 50px;
		max-height: 750px !important;
		@include breakpoint(large) {
			padding-bottom: 100px;
		}
	}
	& .orbit-caption {
		background-color: #000;
		position: absolute;
		padding-left: 125px;
		height: 50px;
		bottom: 0;
		& span {
			position: relative;
			top: 50%;
			display: block;
			-webkit-transform: translateY(-50%);
			-ms-transform: translateY(-50%);
			transform: translateY(-50%);
		}
		@include breakpoint(large) {
			height: 100px;
		}
	}
	& .orbit-previous,
	& .orbit-next {
		background-color: #fefefe;
		color: $black;
		font-size: 16px;
		width: 50px;
		height: 50px;
		bottom: -25px;
		top: auto;
		@include breakpoint(large) {
			height: 100px;
			bottom: -50px;
		}
	}
	& .orbit-next {
		left: 50px;
		right: auto;
	}
}
.block_area_beforecontent .slideshowblock,
.block_area_aftercontent .slideshowblock {
	padding: 1px;
	& .orbit {
		margin-bottom: 0;
	}
	&__title {
		background-color: #222;
		background-color: rgba(0,0,0,.9);
		position: absolute;
		z-index: 10;
		color: #fff;
		margin: 0;
		padding: 20px 40px;
	}
}






