.division-bar {
	@include grid-row;

	max-width: none;
	margin: auto;
	padding-top: 10px;
	// padding-bottom: 20px;
	@include breakpoint(large) {
		padding-bottom: 0;
	}
	&__uiowa {
		@include breakpoint(400) {
			@include grid-column(50%);
		}
	}
	&__uiowa-logo {
		display: block;
		max-width: 130px;
		position: relative;
		top: -5px;
		@include breakpoint(medium) {
			max-width: 180px;
		}
	}
	&__menu {
		display: none;
		@include grid-column(50%);
		text-align: right;
		list-style: none;
		margin: 0;
		font-size: rem-calc(10);
		@include breakpoint(400) {
			display: block;
		}


		@include breakpoint(medium) {
			font-size: rem-calc(14);
		}
		li {
			display: inline-block;
			margin: 0 5px;

			&:first-of-type {
				margin-left: 0;
			}

			&:last-of-type {
				margin-right: 0;
			}
		}
	}

	&__menu-item {
		display: inline-block;
		margin: 0 5px;

		&:first-of-type {
			margin-left: 0;
		}

		&:last-of-type {
			margin-right: 0;
		}
	}

	&__link {
		color: $black;
		position: relative;
		&:after {
			content: "";
			display: block;
			height: 2px;
			width: 100%;
			max-width: 50px;
			background-color: $yellow;
			opacity: 0;
			transform: translateY(4px);
			transition: all 0.125s ease-in;

			position: absolute;
			left: 0;
			bottom: -6px;
			display: inline-block;
			max-width: 100%;
		}
		&:hover, &:focus {
			color: $black;
		}
		&:hover:after, &:focus:after {
			opacity: 1;
			transform: translateY(0);
		}
		&--dark-header {
			color: $yellow;
			&:hover, &:focus {
				color:$yellow;
			}
		}
	}
}
.header__container--overlay .division-bar {
	&__link {
		&--dark-header {
			color: #fff;
			&:hover, &:focus {
				color: #fff;
			}
		}
	}
}