.division-bar {
	@include grid-row;

	max-width: none;
	margin: auto;

	padding-top: 10px;
	padding-bottom: 20px;

	@include breakpoint(large) {
		padding-bottom: 0;
	}


	&__uiowa {
		 @include grid-column(50%);
	}


	&__uiowa-logo {
		display: block;
		max-width: 130px;
		@include breakpoint(medium) {
			max-width: 180px;
		}
	}

	&__menu {
		@include grid-column(50%);
		text-align: right;
	    list-style: none;
	    margin: 0;
	    font-size: rem-calc(10);

	    @include breakpoint(medium) {
	        font-size: rem-calc(16);
	    }

		li{
			display: inline-block;
			margin: 0 5px;
			&:first-of-type{
				margin-left: 0;
			}
			&:last-of-type{
				margin-right: 0;
			}
		}
	}
	
	&__menu-item{
		display: inline-block;
		margin: 0 5px;
		&:first-of-type{
			margin-left: 0;
		}
		&:last-of-type{
			margin-right: 0;
		}
	}

	&__link{
		color: $black;
	}

	&__link--dark{
		color: #fff;
	}



}