//Flickity custom styles only, Flickity itself is in scss/lib/flickity

.flickity-button-icon {
  fill: $yellow;


}
.flickity-button {
  background-color: #242424;
    &:hover{
      background-color: #333;
    }
}