//Flickity custom styles only, Flickity itself is in scss/lib/flickity

.flickity-button-icon {
  fill: $highlight;


}
.flickity-button {
  background-color: $black;
    &:hover{
      background-color: #333;
    }
}
