.hero {
	z-index: 200;
	position: relative;
	color: white;

    &__header{

            font-size: calc(100% + 3.5vw);
            margin: rem-calc(0 0 15 0);
            font-family: $serif-font-family;
            color: white;

            @include breakpoint(medium) {
                font-size: calc(100% + 2.5vw);
                color: #fff;
            }

            @include breakpoint(large) {
                font-size: calc(100% + 3vw);
            }

            @include breakpoint(xlarge) {
                font-size: rem-calc(50);
            }

            &--large{
                font-size: calc(100% + 4.5vw);
                margin: rem-calc(0 0 15 0);
                font-family: $serif-font-family;

                @include breakpoint(medium) {
                    font-size: calc(100% + 3.5vw);
                    color: #fff;
                }

                @include breakpoint(large) {
                    font-size: calc(100% + 4vw);
                }

                @include breakpoint(xlarge) {
                    font-size: rem-calc(60);
                }

            }
        }


	@include breakpoint(medium) {
		padding-top: rem-calc(150);
		padding-bottom: rem-calc(90);

		&__aligner {
			margin-left: 73px;
		}
	}


	@include breakpoint(large) {
		padding-top: rem-calc(100);
	}


	&--is-overlay {
		@include breakpoint(medium) {
			padding-top: rem-calc(300);
			padding-bottom: rem-calc(90);
		}


		@include breakpoint(large) {
			padding-top: rem-calc(300);
			padding-bottom: rem-calc(90);
		}
	}
}

.hero-related {
	@include grid-column(12);

	@include breakpoint(large) {
		@include grid-column(6);
	}


	&__list {
		@include grid-row(12, nest);
	}

	&__article {
		@include grid-column(12);

		@include breakpoint(large) {
			@include grid-column(6);
		}
	}
}

.hero-article {
	@include grid-column(12);

	text-align: center;

	@include breakpoint(medium) {
		@include grid-column(6);

		text-align: left;
		margin-bottom: rem-calc(50);
	}


	&__header {
		@include breakpoint(medium) {
			border-left: rem-calc(40) solid $highlight;
			padding-left: rem-calc(30);
			margin-bottom: rem-calc(50);
		}
	}

	&__link {
		color: white;
	}
}
