a {

	@include transition;
	&:hover, :active, :focus {
		
	}
	&:focus {
		outline: thin dotted;
	}
}

.caret-link{
	&:after{
		@include css-triangle(4px, $yellow, right);
		margin-left: 7px;
		display: inline-block;
	}
}