ul.unstyled, ol.unstyled {
    list-style: none;
    margin: 0;
    padding: 0;
    &.unstyled_inline{
    	li{
    		display: inline-block;
    		margin: 0 5px;
    		&:first-of-type{
    			margin-left: 0;
    		}
    		&:last-of-type{
    			margin-right: 0;
    		}
    	}
    }
}