.navigation__wrapper {
	margin-top: 0;
	position: relative;
	z-index: 1;
	overflow-x: scroll;
	-webkit-overflow-scrolling: touch;
	display: none;
	@include breakpoint(medium) {
	
	}
	@include breakpoint(medium) {
		display: block;
		width: auto;
		position: relative;
		overflow: visible;
	}


	&:after {
		transition: background-color 1s;
		background-color: $yellow;
		display: block;
		width: calc(100% - 1px);
		height: 5px;
		position: absolute;
		bottom: 0;
		left: 1px;
		content: "";
	}

	&--search-is-active {
		overflow: hidden;
	}

	&--dark {
		background-color: #242424;
		margin-top: .5em;
	}

	&--overlay {
		background-color: transparent;

		&:after {
			background-color: transparent;
		}
	}

	&--in-slider {
		@extend .navigation__wrapper--overlay;
	}

	&--search-is-active.navigation__wrapper--search-is-active {
		// background-color: white;

	}

	&--full.navigation__wrapper--grayscale {
		&:after {
			background-color: desaturate($yellow, 90%);
		}
	}
}

.navigation {
	// width: 700px;
	position: static;
	

	display: table;
	width: auto;
	position: relative;


	list-style: none;
	margin: 0 auto;
	padding: 0;

	text-align: center;

	&--search-is-active {
		width: auto;
		background-color: white;
	}

	&--overlay {
		background-color: rgba(#242424, 0.8);
	}

	&--in-slider {
		@extend .navigation--overlay;
	}

	&--dark:after {
		background: none;
	}

	//Inheritance... Not very BEM-friendly Any way to not do this?
	&--full.navigation--dark .navigation__item:hover:after {
		background-color: $black;
	}

	&--overlay.navigation--dark .navigation__item--section:after {
		background-color: $yellow;
	}

	&__item {
		display: table-cell;
		position: relative;
		font-family: $header-font-family;

		// border-left: 1px solid white;
		// border-right: 1px solid white;
		z-index: 2;

		// &:after{
		// 	background-color: $yellow;
		// 	display: block;
		// 	width: calc(100% - 1px);
		// 	height: 5px;
		// 	position: absolute;
		// 	bottom: 0;
		// 	left: 1px;
		// 	content: "";

		// }
		&:hover:after {
			background-color: $black;
			display: block;

			// width: calc(100% - 1px);
			width: 100%;
			height: 5px;
			position: absolute;
			bottom: 0;

			// left: 1px;
			content: "";
			z-index: 1;
		}

		.navigation__link--parent {}
	}

	//We're on the current top nav page.
	&__item--current {
		&:after {
			background-color: $black;
			display: block;

			// width: calc(100% - 1px);
			width: 100%;
			height: 5px;
			position: absolute;
			bottom: 0;

			// left: 1px;
			content: "";
			z-index: 1;
		}
	}

	//If we're currently on a page with a top level ancestor
	&__item--section {
		&:after {
			background-color: $black;
			display: block;

			// width: calc(100% - 1px);
			width: 100%;
			height: 5px;
			position: absolute;
			bottom: 0;

			// left: 1px;
			content: "";
			z-index: 1;
		}
	}

	//If we're currently hovering over a nav item that has children
	&__item--parent:hover, .navigation__item--parent.navigation__item--is-hovered {
		&:after {
			background-color: $black;
			display: block;

			// width: calc(100% - 1px);
			width: 100%;
			height: 5px;
			position: absolute;
			bottom: 0;

			// left: 1px;
			content: "";
			z-index: 1;
		}

		.subnav {
			left: 0;
			opacity: 1;
			visibility: visible;
		}
	}

	&__item--dark {
		border: none;

		&:after {
			//background: none;
	
		}

		&:hover:after {
			background-color: $yellow;
		}
	}

	//Make the fifth nav item and beyond's dropdown hang from the right:
	&__item {
		&:nth-child(n+5):hover, &:nth-child(n+5).navigation__item--is-hovered {
			.subnav--two-columns {
				left: auto;
				right: 0;
			}
		}
	}

	&__item--column {}

	&__link {
		display: block;
		font-size: rem-calc(18);
		padding: rem-calc(15) rem-calc(15);
		white-space: nowrap;

		// @include breakpoint(medium) {
		// 	padding: rem-calc(15) rem-calc(27);
		// }
		@include breakpoint(large) {
			padding: rem-calc(20) rem-calc(30);
		}


		@include breakpoint(xlarge) {
			padding: rem-calc(20) rem-calc(37);
			font-size: rem-calc(22);
		}


		position: relative;
		transition: none;
		z-index: 2;
		text-transform: uppercase;
		color: #333;
		border-color: white;

		&:hover, &:focus, &:active {
			color: lighten($black, 20);
		}

		&:hover {
			cursor: pointer;
		}
	}

	&__link--search {


	}

	&__link--search-is-active {
		opacity: 0;
	}

	&__link--in-search {
		display: inline-block;
		vertical-align: middle;
	}

	&__link--search-cancel {
		position: absolute;
		right: 0;
	}

	&__link--parent {
		@include breakpoint(large) {
			&:after {
				@include css-triangle(4px, $black, down);

				display: inline-block;
				margin-left: 7px;
				margin-bottom: 5px;
			}
		}
	}

	&__link--dark {
		color: white;
		font-weight: bold;

		&:hover, &:focus, &:active {
			color: darken($white, 20);
		}

		&:after {
			border-color: white transparent transparent;
		}
	}

	/* -----------------*/
	/* Adjust navigation__link padding and font size depending on how many items in the nav */
	/* http://alistapart.com/article/quantity-queries-for-css */
	/* -----------------*/

	&__item {
		/*link layout if there are 7 or more items (don't push it) */
		&:nth-last-child(n+8) .navigation__link,
		&:nth-last-child(n+8) ~ * .navigation__link {
			font-size: rem-calc(16);

			@include breakpoint(large) {
				padding: rem-calc(13) rem-calc(23);
			}


			@include breakpoint(xlarge) {
				font-size: rem-calc(20);
				padding: rem-calc(20) rem-calc(30);
			}
		}

		/*link layout if there are 9 or more items (you're insane) */
		&:nth-last-child(n+10) .navigation__link,
		&:nth-last-child(n+10) ~ * .navigation__link {
			font-size: rem-calc(14);

			@include breakpoint(medium) {
				padding: rem-calc(13) rem-calc(16);
			}


			@include breakpoint(xlarge) {
				font-size: rem-calc(16);
				padding: rem-calc(15) rem-calc(20);
			}
		}

		/* EMERGENCY BREAK GLASS IF NAVIGATION EXCEEDS 11 ITEMS */
		&:nth-last-child(n+12) .navigation__link,
		&:nth-last-child(n+12) ~ * .navigation__link {
			font-size: rem-calc(14);

			@include breakpoint(medium) {
				padding: rem-calc(14) rem-calc(10);
			}


			@include breakpoint(xlarge) {
				font-size: rem-calc(16);
				padding: rem-calc(14) rem-calc(14);
			}
		}
	}

	&__menu-text{
		display: none;
		padding-left: rem-calc(4);
		@include breakpoint(375) {
			display: inline;
		}
	}

	&__toggle{
		position: absolute;
		left: 5px;
		bottom: 0px;
	}
	&__toggle--search{
		left: auto;
		right: 20px;
	}
}

.subnav {
	background-color: #fff;
	position: absolute;
	left: -9999px;
	top: 100%;
	min-width: rem-calc(300);
	list-style: none;
	opacity: 0;
	box-shadow: inset 1px 0 0 #ddd, inset 0 1px 0 #ddd, inset -1px 0 0 #ddd, inset 0 -1px 0 #ddd, 4px 4px 4px 0 rgba(0, 0, 0, 0.05);
	margin-top: -1px;
	visibility: hidden;
	padding: 18px rem-calc(15);
	z-index: 1;
	margin-left: 0;
	display: none;

	@include breakpoint(medium) {
		display: block;
	}


	&--show-menu {
		left: 0;
		opacity: 1;
		visibility: visible;
	}

	&--two-columns {
		@include grid-row;

		@include grid-layout(2);

		// @include flex-align($x: center, $y: middle);
		width: rem-calc(500);
	}

	&__item {
		//border-bottom: 1px solid #eee;
		float: none;
		position: static;

		&:first-of-type {
			border-top: none;
		}

		&:before {
			display: none;
		}
	}

	&__search-item {}

	&__item--column {
		@include grid-column(6);
	}

	&__item--last {
		border-bottom: none;

		@include grid-column-end;
	}

	&__link {
		display: block;
		line-height: 1.3;
		padding: 12px 0;
		text-align: left;
		text-transform: none;
		transition: padding .1s ease-in-out;
		color: $body-font-color;
	}
}