

.profile{

	@include media-object-container;


	&__media{
		@include media-object-section(0);
		// @include media-object-stack;
		width: 158px;
	}

	&__image{
		
	}

	&__text{
		@include media-object-section(rem-calc(20));
		// @include media-object-stack;

	}


}
.quote{
	font-style: italic;
	font-weight: bold;
	color: #333333;
	font-family: "Georgia", serif;
	font-size: rem-calc(13);
	p{line-height: 2.3;}
}

.quote--no-border{
	border: none;
}

.quote__attribution{
	text-transform: uppercase;
	color: #959595;
	font-family: $body-font-family;
	font-style: normal;
	font-size: rem-calc(13);
}
