.sidenav{
	background-color: #fff;
	border: 1px solid #e5e5e5;
	margin-bottom: rem-calc(30);
	width: 100%;
	&__menu{
		list-style-type: none;
		margin: 0;
	}
	&__item{
		border-bottom: 1px solid #e5e5e5;
		&:last-of-type {
			border-bottom: none;
		}
		&--current {
			background-color: #000;
			border-top: 4px solid $yellow;
			& > a {
				color: #fff;
				font-weight: bold;
			}
		}
		&--section {
			background-color: #000;
			border-top: 4px solid $yellow;
			& > a {
				color: #fff;
				padding: rem-calc(20 20);
				font-weight: bold;
				&:after {
					background-color: #666;
					width: 40px;
					height: 1px;
					position: absolute;
					display: block;
					bottom: 0;
					left: 20px;
					content: "";
				}
			}
			& .sidenav__link {

			}
			& .sidenav__item--current {
				border-top: 0;
			}
			& .sidenav__item--section {
				background-color: #282828;
				border-top: none;
			}
		}
		&--second-level{
			border-bottom: none;
			& .sidenav__link {
				color: #eee;
				font-size: rem-calc(14);
				padding: rem-calc(10 20);
				&:hover, &:focus {
					background-color: #222;
				}
			}
			&.sidenav__item--current {
				background-color: #222;
				& a {
					background-color: #222;
				}
			}
			&.sidenav__item--section {

				& > a:after {
					display: none;
				}
			}
		}
		&--third-level{
			padding: 0;
			border-bottom: none;
			& .sidenav__link {
				&:before {
					content: '- ';
				}
			}
			&.sidenav__item--current {
				& a {
					background-color: #282828;
				}
			}
		}
	}
	&__link{
		color: $body-font-color;
		display: block;
		font-size: rem-calc(16);
		padding: rem-calc(14 20);
		position: relative;
	}
	&__section-title {
		border-top: 4px solid #000;
		font-size: rem-calc(14);
		font-weight: 600;
		letter-spacing: 1px;
		margin: rem-calc(0 20);
		padding: rem-calc(24 0);
		text-transform: uppercase;
		& a {
			color: $body-font-color;
		}
	}
	&__second-level, &__third-level {
		list-style: none;
		margin: 0;
		padding: rem-calc(10 0);
	}
	&__third-level {
		padding: 0;
	}
}

