.sidenav{
	background-color: $yellow;
	padding: rem-calc(20);
	&__menu{
		list-style-type: none;
		margin: 0;
	}
	&__item{
		margin: rem-calc(10) 0;
		&--second-level{

		}
		&--third-level{
			
		}
	}
	&__link{
		color: $body-font-color;
		font-size: rem-calc(15);
	}
}