.sidebar-sect-title {
    border-top: 4px solid $highlight;
    font-size: rem-calc(14);
    font-weight: 700;
    letter-spacing: .8px;
    margin: rem-calc(0 20);
    padding: rem-calc(24 0);
    text-transform: uppercase;
    & a {
        color: $black;
        display: block;
    }
}

.sidenav{
	background-color: $white;
	border: 1px solid $light-gray;
	margin-bottom: rem-calc(30);
	width: 100%;
    & ul {
        list-style: none;
        margin: 0;
    }
    &__menu > li {
        border-bottom: 1px solid $light-gray;
    }
	&__item {
		&:last-of-type {
			border-bottom: none;
		}
		&--current {
			background-color: #f1f1f1;
			& > a {
				color: $black;
				font-weight: bold;
			}
		}
        &--section {
            background-color: #f1f1f1;
            & > a {
                color: $black;
                padding: rem-calc(20 20);
                font-weight: bold;
            }
            & .sidenav__item--section {
                background-color: $light-gray;
            }
        }
		&--second-level {
			& .sidenav__link {
				color: $black;
				font-size: rem-calc(14);
				padding: rem-calc(10 20 10 30);
				&:before {
					content: '- ';
					position: absolute;
					left: 20px;
					top: 9px;
				}
				&:hover, &:focus {
					background-color: $light-gray;
					text-decoration: underline;
				}
			}
			&.sidenav__item--current {
				& > a {
					background-color: $light-gray;
					color: $black;
				}
			}
		}
		&--third-level, &--fourth-level {
			& .sidenav__link {
				padding-left: rem-calc(40);
				&:before {
					left: 28px;
				}
			}
			&.sidenav__item--current {
				& a {
                    background-color: $light-gray;
					color: $black;
				}
			}
		}
	}
	&__link {
		color: $black;
		display: block;
		font-size: rem-calc(16);
		padding: rem-calc(14 20);
		position: relative;
		&:hover, &:focus {
            background-color: #f1f1f1;
            color: $black;
			text-decoration: underline;
		}
	}
	&__third-level {
		padding: 0;
	}
}

