table {
    margin: 1rem 0;
}

table, tr,td{
    border: 1px solid #acacac;
}

table thead th,
table thead td,
table tbody th,
table tbody td {
    font-size: rem-calc(15);
    text-align: left;
}

table p {
    margin: 0;
}

.table-valign-top {

    td,
    td * {
        vertical-align: top;
    }

}
