.topic-search-form{

	&__input{
		// border: none;
		height: 55px;
	}

	&__fieldset{
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
	}


}

input.action.topic-search-form__search-button{


	border: none;
	background-image: linear-gradient(to bottom, $highlight, lighten($highlight, 10));
	color: #222;
	height: 55px;
	border-radius: 0;
	width: 20%;
}