h1{
	font-weight: bold;
}
h2{
	font-weight: normal;
}

.subheader{
	// @include grid-column-position(center);
	font-family: $header-font-family;
	text-transform: uppercase;
	font-size:rem-calc(15);
	font-weight: bold;

	&--white{
		color: white;
	}
}

.text-heading--small{
	font-size: rem-calc(13);
	font-family: $body-font-family;
	font-weight: bold;
	text-transform: uppercase;
	margin-bottom: rem-calc(30);
	letter-spacing: 0.1em;
}

.text-heading--centered{
	text-align: center;
}