@import '../lib/foundation/scss/util/util';

/* Branding and Colors
----------------------------------------------------*/
$foundation-palette: (
	primary: #005994,
	secondary: #6e6e6e,
	success: #3adb76,
	warning: #ffae00,
	alert: #cc4b37,
);
$button-palette: map-merge($foundation-palette, (
    gold: #ffcd00,
    black: #212121,
)) !default;
$button-background-hover-lightness: -15%;

// Grayscale
$light-gray: #e5e5e5;
$medium-gray: #a5a5a5;
$dark-gray: #555;
$black: #151515;
$white: #fefefe;
$cream: #f8f6f3;
$yellow: #ffcd00;

//Main Highlight color:
$highlight: $yellow;

@include add-foundation-colors;

$global-width: rem-calc(1200);
$global-lineheight: 1.5;

$body-background: $white;
$body-font-color: $black;
$body-font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$body-antialiased: true;

$global-margin: 1rem;
$global-padding: 1rem;
$global-weight-normal: normal;
$global-weight-bold: 700;
$global-radius: 1px;
$global-text-direction: ltr;
$global-flexbox: false;
$print-transparent-backgrounds: true;

/* Base Typography
----------------------------------------------------*/
//Most browsers have this set to 16 by default, so we use 100%:

$global-font-size: 100%;

/* Links
----------------------------------------------------*/
$anchor-color: $primary-color;
$anchor-color-hover: scale-color($anchor-color, $lightness: -7%);
$anchor-text-decoration: none;
$anchor-text-decoration-hover: none;


/* Header Typography
----------------------------------------------------*/
$header-font-family: "Roboto Condensed", "Arial Narrow", sans-serif;
$header-font-weight: 700;
$header-font-style: normal;
$header-lineheight: 1.2;
$header-margin-bottom: rem-calc(18);
$font-family-monospace: Consolas, 'Liberation Mono', Courier, monospace;

// commenting out - this was updated to use $header-styles below
// $header-sizes: (
//   small: (
//     'h1': 32,
//     'h2': 20,
//     'h3': 19,
//     'h4': 18,
//     'h5': 17,
//     'h6': 16,
//   ),
//   medium: (
//     'h1': 52,
//     'h2': 36,
//     'h3': 30,
//     'h4': 25,
//     'h5': 22,
//     'h6': 20,
//   ),
// );
$header-styles: (
  'small': (
    'h1': ('font-size': 32, 'line-height': $header-lineheight, 'margin-top': 0, 'margin-bottom': $header-margin-bottom),
    'h2': ('font-size': 20, 'line-height': $header-lineheight, 'margin-top': 0, 'margin-bottom': $header-margin-bottom),
    'h3': ('font-size': 19, 'line-height': $header-lineheight, 'margin-top': 0, 'margin-bottom': $header-margin-bottom),
    'h4': ('font-size': 18, 'line-height': $header-lineheight, 'margin-top': 0, 'margin-bottom': $header-margin-bottom),
    'h5': ('font-size': 17, 'line-height': $header-lineheight, 'margin-top': 0, 'margin-bottom': $header-margin-bottom),
    'h6': ('font-size': 16, 'line-height': $header-lineheight, 'margin-top': 0, 'margin-bottom': $header-margin-bottom)
  ),
  'medium': (
    'h1': ('font-size': 52, 'line-height': $header-lineheight, 'margin-top': 0, 'margin-bottom': $header-margin-bottom),
    'h2': ('font-size': 36, 'line-height': $header-lineheight, 'margin-top': 0, 'margin-bottom': $header-margin-bottom),
    'h3': ('font-size': 30, 'line-height': $header-lineheight, 'margin-top': 0, 'margin-bottom': $header-margin-bottom),
    'h4': ('font-size': 25, 'line-height': $header-lineheight, 'margin-top': 0, 'margin-bottom': $header-margin-bottom),
    'h5': ('font-size': 22, 'line-height': $header-lineheight, 'margin-top': 0, 'margin-bottom': $header-margin-bottom),
    'h6': ('font-size': 20, 'line-height': $header-lineheight, 'margin-top': 0, 'margin-bottom': $header-margin-bottom)
  ),
);

$header-color: inherit;
$header-lineheight: 1.3;
$header-margin-bottom: 1rem;
$header-text-rendering: optimizeLegibility;
$small-font-size: 80%;
$header-small-font-color: $medium-gray;
$prototype-separator-background: $black;


/* Breakpoints
----------------------------------------------------*/
$breakpoints: (
	small: 0,
	mobile: 480px,
	medium: 640px,
	large: 1024px,
	xlarge: 1200px,
	xxlarge: 1440px,
);

$breakpoint-classes: (small medium large xlarge xxlarge);

/* Grid
----------------------------------------------------*/
$grid-row-width: $global-width;
$grid-column-count: 12;
$grid-column-gutter: (
	small: 20px,
	medium: 40px,
);
$grid-margin-gutters: (
    small: 20px,
    medium: 40px,
);

$grid-column-align-edge: true;
$block-grid-max: 8;


/* Nav Settings */
 $nav-height-small: rem-calc(47);

 //following are unused currently:
// $nav-height: rem-calc(50);
// $nav-height-large: rem-calc(66);

/* Content Typography
----------------------------------------------------*/
$paragraph-lineheight: 1.5;
$paragraph-margin-bottom: rem-calc(24);
$paragraph-text-rendering: optimizeLegibility;

$lead-font-size: $global-font-size * 1.2;
$lead-lineheight: 1.6;
$subheader-lineheight: 1.4;
$subheader-color: $dark-gray;
$subheader-font-weight: $global-weight-normal;
$subheader-margin-top: 0.2rem;
$subheader-margin-bottom: 0.5rem;
$stat-font-size: 2.5rem;

$hr-width: $global-width;
$hr-border: 1px solid $medium-gray;
$hr-margin: rem-calc(20) auto;

$list-lineheight: $paragraph-lineheight;
$list-margin-bottom: $paragraph-margin-bottom;
$list-style-type: disc;
$list-style-position: outside;
$list-side-margin: 1.25rem;
$list-nested-side-margin: 1.25rem;

$defnlist-margin-bottom: 1rem;
$defnlist-term-weight: $global-weight-bold;
$defnlist-term-margin-bottom: 0.3rem;

$blockquote-color: #333;
$blockquote-padding: rem-calc(0 20 0 19);
$blockquote-border: 1px solid $medium-gray;

$cite-font-size: rem-calc(13);
$cite-color: $dark-gray;

$keystroke-font: $font-family-monospace;
$keystroke-color: $black;
$keystroke-background: $light-gray;
$keystroke-padding: rem-calc(2 4 0);
$keystroke-radius: $global-radius;
$abbr-underline: 1px dotted $black;

// 25. Orbit
// ---------

$orbit-bullet-background: $medium-gray;
$orbit-bullet-background-active: $dark-gray;
$orbit-bullet-diameter: 1.2rem;
$orbit-bullet-margin: 0.1rem;
$orbit-bullet-margin-top: 0.8rem;
$orbit-bullet-margin-bottom: 0.8rem;
$orbit-caption-background: rgba(0,0,0, 0.6);
$orbit-caption-padding: rem-calc(10);
$orbit-control-background-hover: rgba($black, 0);
$orbit-control-padding: 1rem;
$orbit-control-zindex: 10;

/* Additional Foundation Settings
----------------------------------------------------*/
@import "foundation-components-settings";
