@import 'util/util';

/* Branding and Colors
----------------------------------------------------*/
$foundation-palette: (
  primary: #08c,
  secondary: #3381AF,
  success: #9FD392,
  warning: #FAE4B8,
  alert: #F29DA8,
);

$light-gray: #e6e6e6;
$medium-gray: #cacaca;
$dark-gray: #8a8a8a;
$black: #222;
$white: #fefefe;

$yellow: #ffcd00;

@include add-foundation-colors;

$global-width: rem-calc(1200);
$global-lineheight: 1.5;

$body-background: $white;
$body-font-color: $black;
$body-font-family: 'proxima-nova', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$body-antialiased: true;

$global-margin: 1rem;
$global-padding: 1rem;
$global-weight-normal: normal;
$global-weight-bold: bold;
$global-radius: 0;
$global-text-direction: ltr;
$global-flexbox: false;
$print-transparent-backgrounds: true;

/* Base Typography
----------------------------------------------------*/
//Most browsers have this set to 16 by default, so we use 100%:

$global-font-size: 100%;

/* Links
----------------------------------------------------*/
$anchor-color: $primary-color;
$anchor-color-hover: scale-color($anchor-color, $lightness: -14%);
$anchor-text-decoration: none;
$anchor-text-decoration-hover: none;


/* Header Typography
----------------------------------------------------*/
$header-font-family: "proxima-nova-condensed", "Arial Narrow", sans-serif;
$header-font-weight: $global-weight-normal;
$header-font-style: normal;
$font-family-monospace: Consolas, 'Liberation Mono', Courier, monospace;
$header-sizes: (
  small: (
    'h1': 32,
    'h2': 20,
    'h3': 19,
    'h4': 18,
    'h5': 17,
    'h6': 16,
  ),
  medium: (
    'h1': 52,
    'h2': 40,
    'h3': 31,
    'h4': 25,
    'h5': 20,
    'h6': 16,
  ),
);
$header-color: inherit;
$header-lineheight: 1.4;
$header-margin-bottom: 0.5rem;
$header-text-rendering: optimizeLegibility;
$small-font-size: 80%;
$header-small-font-color: $medium-gray;



/* Breakpoints
----------------------------------------------------*/
$breakpoints: (
  small: 0,
  medium: 640px,
  large: 1024px,
  xlarge: 1200px,
  xxlarge: 1440px,
);

$breakpoint-classes: (small medium large xlarge xxlarge);

/* Grid
----------------------------------------------------*/
$grid-row-width: $global-width;
$grid-column-count: 12;
$grid-column-gutter: (
  small: 20px,
  medium: 30px,
);
$grid-column-align-edge: true;
$block-grid-max: 8;


/* Nav Settings */

$nav-height: rem-calc(55);
$nav-height-large: rem-calc(72);

/* Content Typography
----------------------------------------------------*/
$paragraph-lineheight: 1.6;
$paragraph-margin-bottom: 1rem;
$paragraph-text-rendering: optimizeLegibility;

$lead-font-size: $global-font-size * 1.25;
$lead-lineheight: 1.6;
$subheader-lineheight: 1.4;
$subheader-color: $dark-gray;
$subheader-font-weight: $global-weight-normal;
$subheader-margin-top: 0.2rem;
$subheader-margin-bottom: 0.5rem;
$stat-font-size: 2.5rem;

$hr-width: $global-width;
$hr-border: 1px solid $medium-gray;
$hr-margin: rem-calc(20) auto;

$list-lineheight: $paragraph-lineheight;
$list-margin-bottom: $paragraph-margin-bottom;
$list-style-type: disc;
$list-style-position: outside;
$list-side-margin: 1.25rem;
$list-nested-side-margin: 1.25rem;

$defnlist-margin-bottom: 1rem;
$defnlist-term-weight: $global-weight-bold;
$defnlist-term-margin-bottom: 0.3rem;

$blockquote-color: #333;
$blockquote-padding: rem-calc(0 20 0 19);
$blockquote-border: 1px solid $medium-gray;

$cite-font-size: rem-calc(13);
$cite-color: $dark-gray;

$keystroke-font: $font-family-monospace;
$keystroke-color: $black;
$keystroke-background: $light-gray;
$keystroke-padding: rem-calc(2 4 0);
$keystroke-radius: $global-radius;
$abbr-underline: 1px dotted $black;

/* Additional Foundation Settings
----------------------------------------------------*/
@import "foundation-components-settings";