/*-----------------------------------------
Blog Card
-------------------------------------------*/
.blogcard {
    border-bottom: 1px solid $light-gray;
    padding: rem-calc(15 0);

    &--no-border {
        border: none;
    }

    &__img {
        display: block;
        position: relative;
        margin-bottom: rem-calc(15);

        @media (min-width: 480px) {
            float: right;
            margin-bottom: 0;
            width: 220px;
        }
    }

    &__content {
        &--wimage {
            @media (min-width: 480px) {
                margin-right: 240px;
            }
        }
    }

    &__heading {
        margin: 0 0 10px 0;

        & a {
            color: $body-font-color;

            &:hover,
            &:focus {
                text-decoration: underline;
            }
        }

        &--lighter a {
            color: #484848;
        }
    }

    &__desc {
        font-size: rem-calc(16);
    }

    &__category {
        margin: rem-calc(15 0 0 0);
        text-transform: uppercase;
        font-size: rem-calc(12);

        & a {
            text-decoration: none !important;
        }

        .newsblock & {
            display: none;
        }
    }

    &__date {
        font-size: rem-calc(13);
        color: $dark-gray;
    }

    .newsblock & {
        border-bottom: none; // hide border when within a Block
    }

    @include breakpoint(medium) {
        padding: rem-calc(30 0);
    }
}

// wrapper for byline and social icons
.blogmeta {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: rem-calc(10);

    @include breakpoint(medium) {
        flex-direction: row;
    }
}

/*-----------------------------------------
byline
-------------------------------------------*/
.byline {
    font-size: rem-calc(14);

    & p {
        margin: 0;
    }

    &__profilepic {
        border-radius: 50%;
        margin-right: 3px;
        width: 24px;
        height: 24px;
        vertical-align: bottom;
        display: none !important;

        .BlogPost & {
            display: inline !important; // hides img on all pages except blog post pages
        }
    }

    & a {
        text-decoration: underline;
    }

    &__media {
        display: none; // hides media credits on all pages except blog post pages

        .BlogPost & {
            display: inline;
        }
    }
}

/*-----------------------------------------
 Social Media Icons
-------------------------------------------*/
.social-icons {
    list-style: none;
    margin: 10px 0 0;
    padding: 0;

    & li {
        display: inline-block;
        vertical-align: middle;
        margin-right: rem-calc(12);

        & img {
            display: block;
            width: 24px;
            height: 24px;
        }
    }

    @include breakpoint(medium) {
        margin-top: 0;
    }
}

/*-----------------------------------------
Tags and Category list
-------------------------------------------*/
.tags-categories {
    border-top: 1px solid $light-gray;
    margin-top: rem-calc(15);
    padding: rem-calc(30 0);
    font-size: rem-calc(13);

    & .button {
        border-radius: 3px;
        vertical-align: baseline;
    }
}


/*-----------------------------------------
Profile Pages
-------------------------------------------*/
.blogprofile {
    & img {
        border-radius: 50%;
        border: 3px solid $highlight;
    }

    & h3 {
        margin: 10px 0;
    }
}
