#BetterNavigator{
	display: none;
	@include breakpoint(large) {
		display: block;
	}
}
.container{
	//Container utility class.
	@include grid-row;
}

body{
	transition: background-color 1s;
}

.body--search-active{
	background-color: #ddd;
}


/* Background Media */

.background-media{
	
	&__bg-image{

	}

	&__image{

	}
	&__video{

	}

	&--grayscale{
		
	}

}


/* Main Content Styles: */



.main-content{

	&__container{
		transition: filter 1s;

	}
	&__container--grayscale{
		filter: grayscale(90%) blur(5px);
		
	}
	@include grid-column(12);
	
	@include breakpoint(large) {
		@include grid-column(7);
		
		
	}	


	h1,h2,h3,h4,h5,h6{
		a:after{
			@include css-triangle(6px, $anchor-color, right);
			margin-bottom: 4px;
			margin-left: 5px;
			display: inline-block;

		}
	}

	&--with-padding{
		padding-top: rem-calc(20);
		@include breakpoint(large) {
			padding-top: rem-calc(40);
		}
	}

	&--with-sidebar{
		@include breakpoint(large) {
			@include grid-column-offset(1);
			
		}		
	}

	&--full-width{
		@include grid-column-position(center);
	}
}

.sidebar{
	@include grid-column(12);
	margin-top: rem-calc(20);

	@include breakpoint(large) {
		@include grid-column(3);
		@include grid-column-offset(1);
		// padding-top: 40px;
	}

}

.content-block{
	border-top: 1px solid #e4e4e4;
	padding: rem-calc(30) 0;
	@include breakpoint(large) {
		padding: rem-calc(70) 0;
	}
}


/* SilverStripe / TinyMCE Image Styles (non BEM!!) */

img.right{
	@extend .float-right;
	padding-left: 10px;
	padding-bottom: 10px;
}

img.left{
	@extend .float-left;
	padding-right: 10px;
	padding-bottom: 10px;
}