.html--no-scroll {
	overflow: hidden !important;
	height: 100%;
}

#BetterNavigator {
	display: none;

	@include breakpoint(large) {
		display: block;
	}
}

.container {
	//Container utility class.
	@include grid-row;
}

body {
	transition: background-color 1s;
}

.body--search-active {
	background-color: #ddd;
}

/* Main Content/Article Body Styles: */

.main-content {
	@include grid-column(12);
	@include breakpoint(large) {
		@include grid-column(7);
	}

	h1, h2, h3, h4, h5, h6 {
		a:after {
			@include css-triangle(6px, $anchor-color, right);
			margin-bottom: 4px;
			margin-left: 5px;
			display: inline-block;
		}
	}

	&--with-padding {
		padding-top: rem-calc(20);

		@include breakpoint(large) {
			padding-top: rem-calc(40);
		}
	}

	&--with-sidebar {
		@include breakpoint(large) {
			@include grid-column-offset(1);
		}
	}

	&--full-width {
		@include grid-column-position(center);
	}

	&__container {
		transition: filter 1s;
	}

	&__container--grayscale {
		filter: grayscale(90%);
	}

	&__text {
		//Hack to disable in-content headerrs (DEPRECATED!!!)
		h1 {
			display: none;
		}
	}
}

.sidebar {
	@include grid-column(12);
	margin-top: rem-calc(20);
	@include breakpoint(large) {
		@include grid-column(3);
		@include grid-column-offset(1);
	}
}

/* SilverStripe / TinyMCE Image Styles (non BEM!!) */

img.right {
	@extend .float-right;

	padding-left: 10px;
	padding-bottom: 10px;
}

img.left {
	@extend .float-left;

	padding-right: 10px;
	padding-bottom: 10px;
}