.featured-content{

	color: white;
	padding-top: rem-calc(100);

	&__story{
		@include grid-column-row();
		@include grid-column(7);
		// @include grid-column-position(center);

		margin-bottom: rem-calc(150);
	}
	&__subheader{
		@include grid-column-row();
		@include grid-column(12);
		// @include grid-column-position(center);
		font-family: $header-font-family;
		text-transform: uppercase;
		font-size:rem-calc(15);
		font-weight: bold;
	}

	&__header{
		border-left: rem-calc(40) solid $yellow;
		padding-left: rem-calc(30);
		margin-bottom: rem-calc(50);
	}

	&__aligner{
		margin-left: 73px;
	}
}