

.header__screen{
	background-color: rgba(#333, 0.7);
	
	background-repeat: no-repeat;
	position: relative;
	height: 100%;
	
	&----in-slider{
		padding-top: 100px;
		@include breakpoint(large) {
			padding-top: 200px;
		}
	}

	@include breakpoint(medium) {
		background-color: rgba(#333, 0.5);
		background-image: url(../images/shadow.png);
		background-size: cover;
		background-position-x: -600px;
	}
	@include breakpoint(large) {
		background-size: contain;
		background-position-x: -500px;
	}
	@include breakpoint(xlarge) {
		background-size: contain;
		background-position-x: -400px;
	}
	@include breakpoint(xxlarge) {
		background-size: contain;
		background-position-x: -300px;
	}
}

.header__container{

	&--dark{
		background: #222;
	}
	&--overlay{
		background: none;
	}
	&--in-slider{
		
		position: absolute;
	    left: 50%;
	    transform: translate(-50%, 0);
	    width: 100%;
	    z-index: 9999;
	}


}
.header {

	// @include grid-row();

	@include breakpoint(large) {
		// margin-top: -30px;
	}

	h1 {
		font-size: rem-calc(29);
		font-weight: 600;
		letter-spacing: 1px;
		line-height: 1.1;
		margin: 0;
		padding-top: 0;
		text-align: center;
		text-decoration: none;
		text-transform: uppercase;
		a{
			color: $body-font-color;
		}

		&:hover {
			text-decoration: none;
		}

		@include breakpoint(medium) {
			font-size: rem-calc(41);
		}


		@include breakpoint(large) {
			font-size: rem-calc(46);
			//padding: 0.2em 0 .2em 0;
		}
	}

	&--dark{

		h1{
			font-weight: normal;
			a{
				color: white;
				text-shadow: 0.5px 0.866px 1px rgba(0, 0, 0, 0.39);
			}
		}

	}
}