.header__screen {
	background-color: rgba(#333, 0.7);
	transition: all 1s linear;
	background-repeat: no-repeat;
	position: relative;
	height: 100%;

	&--in-slider {
		padding-top: 100px;

		@include breakpoint(large) {
			padding-top: 200px;
		}
	}

	&--fill-container {
		position: absolute;
		width: 100%;
	}

	&--grayscale {
		backdrop-filter: grayscale(90%);
	}

	&--thin {
		background-color: rgba(#333, 0.3);
	}

	&--with-shadow {
		@include breakpoint(medium) {
			background-color: rgba(#333, 0.5);
			background-image: url(../images/shadow.png);
			background-size: cover;
			background-position-x: -600px;
		}


		@include breakpoint(large) {
			background-size: contain;
			background-position-x: -500px;
		}


		@include breakpoint(xlarge) {
			background-size: contain;
			background-position-x: -400px;
		}


		@include breakpoint(xxlarge) {
			background-size: contain;
			background-position-x: -300px;
		}
	}
}

.header__container {
	position: relative;
	z-index: 10;
	&:after {
		transition: background-color 1s;
		background-color: $highlight;
		display: block;
		width: calc(100% - 1px);
		height: 5px;
		position: absolute;
		bottom: 0;
		left: 0;
		content: "";
	}

	&--dark-header {
		background: #242424;
	}

	&--overlay {
		background: linear-gradient(180deg,rgba(0,0,0,.4),transparent);
		z-index: 101;
	}

	&--in-slider {
		@extend .header__container--overlay;

		position: absolute;
		left: 50%;
		transform: translate(-50%, 0);
		width: 100%;
		z-index: 9999;
	}

	@include breakpoint(medium) {
		padding-bottom: 0;

		&:after {
			background-color: transparent;
		}
	}
}

.header {
	position: relative;
	overflow: hidden;
	transition: max-height 0.2s linear;
	&__site-title {
		font-size: rem-calc(22);
		font-weight: 600;
		letter-spacing: 1px;
		line-height: 1;
		margin: auto;
		padding: 5px 0 25px;
		text-align: center;
		text-decoration: none;
		text-transform: uppercase;
		width: 60%;
		transition: opacity 0.3s linear;

		a {
			color: $body-font-color;
		}

		&:hover {
			text-decoration: none;
		}

		@include breakpoint(600) {
			font-size: rem-calc(29);
			padding-top: 20px;
		}


		@include breakpoint(medium) {
			width: 100%;
			font-size: rem-calc(41);
			padding: 20px 0 5px;
		}


		@include breakpoint(large) {
			font-size: rem-calc(46);
			margin-bottom: rem-calc(20);
			padding: 5px 0 5px;
		}
	}
	&--dark-header {
		.header__site-title {
			a {
				color: white;
				text-shadow: 0.5px 0.866px 1px rgba(0, 0, 0, 0.39);
			}
		}
	}

	&--full{
		.header__site-title {
			@include breakpoint(large) {

				margin-bottom: 0;
			}
		}
	}
	@include breakpoint(medium) {
		max-height: none;
		overflow: visible;
		padding-bottom: 0;
	}
}
.nav-collapse.open {
	max-height: 2500px;
	padding-bottom: 5px;
	@include breakpoint(medium) {
		padding-bottom: 0;
	}
}

a.skip-link {
	display: block;
	background-color: #666;
	color: #fff;
	position: absolute;
	top: -100%;
	right: 0;
	left: 0;
	z-index: 400;
	padding: 20px;
	text-align: center;
	-webkit-transition: top .35s,-webkit-transform .35s;
	transition: top .35s,-webkit-transform .35s;
	transition: transform .35s,top .35s;
	transition: transform .35s,top .35s,-webkit-transform .35s;
}
a.skip-link:focus, a.skip-link:active {
	outline: 0;
	top: 0;
}
