.homepage-slider-content{

	&__featured-story{
		margin-bottom: 150px;
	}
	&__subheader{
		font-family: $header-font-family;
		text-transform: uppercase;
		font-size:rem-calc(15);
		font-weight: bold;
	}

	&__header{
		border-left: 40px solid $yellow;
		padding-left: 30px;
		margin-bottom: 50px;
	}

	&__aligner{
		margin-left: 73px;
	}


}