.tagline{
	@include grid-column(12);
	@include grid-column-position(center);

	// padding-top: rem-calc(50);
	// padding-bottom: rem-calc(50);

	font-size: rem-calc(29);
	text-align: center;

	@include breakpoint(large) {
		@include grid-column(11);
		@include grid-column-position(center);
		// padding-top: rem-calc(100);
		// padding-bottom: rem-calc(100);
	}
}

.tagline__text{
	margin-bottom: rem-calc(20);
	text-align: center;
}

.tagline__separator{
	height: rem-calc(3);
	width: 15%;
	background-color: black;
	margin: auto;
}

.welcome{

	&__inner{
		@include grid-column(12);
		@include breakpoint(large) {
			@include grid-column(7);
	
		}
	}
	&__text{
		line-height: 2.4;
	}

	&__menu-inner{
		@include grid-column(9);
		@include grid-column-position(center);
		padding-top: rem-calc(20);
		padding-bottom: rem-calc(20);
	}

	&__menu{
		list-style-type: none;
		text-align: center;
		margin: 0;
	}


	&__menu-item{
		display: inline-block;
		padding: rem-calc(10) rem-calc(20);
	}

	&__menu-link{

	}
}



