/* ---------------------------------------------------------------
Calendar Holder Page
--------------------------------------------------------------- */
.eventcard {
    border-bottom: 1px solid $light-gray;
    margin-bottom: rem-calc(30);
    padding-bottom: rem-calc(30);
    &__title {
        margin: rem-calc(0 0 10 0);
        & a {
            color: $body-font-color;
            &:hover, &:focus {
                text-decoration: underline;
            }
        }
    }
    &__content {
        font-size: rem-calc(16);
        margin-left: 35%;
    }
    &__imgwrap {
        display: block;
        float: left;
        width: 30%;
        & div {
            width: 100%;
            height: 150px;
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center center;
            position: relative;
            text-indent: -999em;
        }
    }
    &__venue, &__dates {
        margin: rem-calc(5 0);
        padding-left: rem-calc(22);
        position: relative;
        & img {
            width: 16px;
            opacity: .35;
            position: relative;
            margin-left: -20px;
        }
    }
    &__summary {
        margin: 10px 0 0;
    }
}

/* ---------------------------------------------------------------
Calendar Event Page
--------------------------------------------------------------- */
.locallistevent-img {
	display: block;
	max-width: 320px;
}
.locallistevent-tags {
	& a {
		display: inline;
		&:after {
			content:','
		}
		&:last-child:after {
			content: '';
		}
	}
}
.locallistevent-sidebar {
	font-size: rem-calc(18);
	@include breakpoint(large) {
		border-left: 1px solid $light-gray;
		padding-left: rem-calc(30);
	}
}
