.row--plan {
    max-width: rem-calc(1440);
}
.plan-content{
    margin-top: rem-calc(20);

}
.plan-intro {
    max-width: 800px;
    margin: auto;
    font-size: 18px;

    @media only screen and (min-width: 768px) {
        padding: 40px 0;
    }
}

.plan-section {
    max-width: 800px;
    margin: auto;
    padding-bottom: 40px;
    font-size: 18px;

    &__container {
        border-top: 1px solid #ddd;
        padding: 40px 0;
    }

    &__table-label {
        position: -webkit-sticky;
        position: sticky;
        top: 0;
        background: white;
        padding: 10px 0;
        text-align: center;
        margin-bottom: 15px;
    }
}

.plan-sidebar {
    padding: 10px;
    margin: 5px;
    
    margin: auto;
    @media only screen and (min-width: 768px) {
        // float: right;
        max-width: 800px;
    }

    &__header {
        font-size: 22px;
        color: #555;
        font-weight: normal;
        text-transform: uppercase;
    }

    &__link {
        font-weight: bold;

        &--sec-level {
            font-weight: normal;
            border: none;
        }
    }

    &__nav {
        margin-left: rem-calc(10);
        padding-left: 0;
        list-style-type: square;

        &--second-level {
            font-size: 14px;
            list-style-type: none;
        }
    }

    &__section {
        padding: 10px 0;

        &:not(:last-child) {
            border-bottom: 1px solid #eee;
        }
    }
}

.plan-table {
    padding: 10px;
    a{
        text-decoration: underline;
    }

    .accordion-img{
        max-width: 30px;
    }

    &:nth-of-type(2n) {
        background: #efefef;

        .accordion-title{
            background: white;
        }

    }
        &--white-bg:nth-of-type(2n){
            background: white;
        }


    @media only screen and (min-width: 769px) {
        width: 100%;
        padding: 15px;
    }

    &__cell-heading{
        margin-top: 0;
        font-size: rem-calc(22);
        color: #444;
    }

    &__column {
        @media only screen and (min-width: 769px) {
            padding: 10px;
        }

        &--large-text {
            font-size: 18px;
        }
    }

    &__updates ul {

    }

    &__updates ul li:before {

    }


}


.plan-aside {
    padding: 10px;

    @media only screen and (min-width: 769px) {
        float: right;
    }
}

.plan-stat-highlight{
    font-weight: bold;
    color: blue;
}