
.topicholder-section{
	&--light-gray{
		background: #f6f6f6;
	}

	&--gray{
		background: #eee;
	}
}

.topicholder-section__heading{
	text-transform: uppercase; font-size: 1em; color: #333;
}

.topicholder-all-list{
	//todo: responsive column count;
	 margin-left: 0; 
	 column-count: 1;

	 @include breakpoint(medium) {
	 	column-count:2;
	 }
	 @include breakpoint(large) {
	 	column-count: 3;
	 }
	 &__item{
	 	list-style-type: none;
	 	margin-bottom: 20px;

	 }

	 &__item--avoid-break{
	 	break-inside: avoid;
	 }

	 &__item-heading{
	 	font-weight: 800; 
	 	font-size: 28px; 
	 	margin-top: 10px;
	 	margin-bottom: 10px;
	 }
}
.topicholder-sublist{
	 margin-left: 0; 

	 &__item{
	 	list-style-type: none;
	 }

	 &__heading{
	 	font-weight: normal; 
	 	font-size: 17px; 
	 	margin-bottom: 10px; 
	 	margin-top: 0;
	 	a{
	 		color: #666;
	 	}
	 }		
}

.topicholder-featured{
	&__heading{
		font-size: 24px;
	}

	&__preview{
		font-size: 14px; text-overflow: ellipsis; white-space: nowrap; overflow: hidden;
	}

	&__meta{
		font-size: 12px;
	}
}

.topicholder-featured

.topic-single__byline-cat{
	color: #545454;
	text-transform: uppercase;
	font-style: normal;
	font-size: rem-calc(12);
	letter-spacing: 1px;
	line-height: 1;
	margin-right: 15px;
	@include breakpoint(xxlarge) {
		margin-right: 0;
	}
	& a {
		border-bottom: 1px solid transparent;
		padding-bottom: 1px;
		position: relative;
		transition: all .2s ease-in-out;
		&:hover, &:focus {
			color: #545454;
			border-bottom-color: #ddd;
		}
	}
	& a:not(:first-of-type):before {
		content: "·";
		display: inline-block;
		position: absolute;
		left: -11px;
		top: 0;
	}
}
.topic-single__google-map{
	width: 100%;

	@include breakpoint(medium) {
		width: rem-calc(300);
		height: rem-calc(300);
	}
}
