/* -------------------------------------------------------
FEATURE HOLDER
---------------------------------------------------------- */
.feature-list {
	list-style: none;
	margin: 0;
	padding: 0;

	& a {
		text-decoration: none;
		color: #333;
	}

	& img {
		display: block;
	}
}

.feature-list .item {
	margin-bottom: 3em;
}

.feature-list .title {
	font-weight: 300;
	margin: 0;
	margin-top: 5px;
}

.feature-list a .title {
	color: #0088cc;
}

.feature-list a:hover .title {
	text-decoration: underline;
}

.feature-list .room-capacity {
	margin: .5em 0 .3em;
}

.feature-list .capacity {
	padding-right: 1em;
}

.feature-list img {
	width: 100%;
}