iframe.flickr-slideshow{
	width: 100%;

	height: 200px;

	@media screen and (min-width: $break-medium) {
		min-height: 300px;
	}

	@media screen and (min-width: $break-large) {
		min-height: 600px;
	}
}

.slideshow-grid-container{
	.slideshow-grid-item{
		width: 100%;
		width: 45%;
	}
	.slideshow-grid-item.slideshow-grid-item--width2 {
		@media screen and (min-width: $break-large) {
			width: 45%;
		}
	}
	.slideshow-grid-item.slideshow-grid-item--width3 {
		@media screen and (min-width: $break-large) {
			width: 32%;
		}
	}
	.slideshow-grid-item.slideshow-grid-item--width4 {
		@media screen and (min-width: $break-large) {
			width: 65%;
		}
	}
//	.slideshow-grid-item--width2 { width: 500px; }
//	.slideshow-grid-item--width3 { width: 700px; }
}