/*-------------------------------------------
    Media Queries
-------------------------------------------*/
.footer {
	background: #222;
	border-top: 8px solid #000;
	-webkit-box-shadow: inset 0 1px 0 #2e2e2e;
	-moz-box-shadow: inset 0 1px 0 #2e2e2e;
	box-shadow: inset 0 1px 0 #2e2e2e;
	color: #eee;
	padding: 3em 0 1em;
	position: relative;
	line-height: 1.6;
	img{
		max-width: 100%;
		@media #{$small-up} {
			max-width: 266px;
		}
	}
	.social-icon {
	  font-family: 'iconies_socialregular';
	}
}
.footer h1, .footer h2, .footer h3, .footer h4, .footer h5 {
	color: #eee;
	font-size: rem-calc(15);
	text-transform: uppercase;
	@media #{$medium-up} {
		font-size: rem-calc(14);
	}
}
.footer p, .footer li {
	font-size: rem-calc(14);
}
.footer a {
	color: #eee;
}
.footer-logo img {
	display: block;
	margin-top: -20px;
}
.border-list {
	list-style: none;
	margin: 0;
	padding: 0;
	@media #{$medium-up} {
		border-left: 1px solid #000;
	}
}
.border-list:first-child {
	padding-top: 0;
}
.border-list a {
	display: block;
	padding: 10px 0;
	-webkit-transition: all .2s ease-in-out;
	-moz-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
	&:hover {
		border-left-color: $yellow;
	}
	@media #{$medium-up} {
		border-left: 1px solid #2e2e2e;
		padding: 5px 0 5px 10px;
	}
}
.footer hr {
	border-top-color: #000;
	border-bottom-color: #2e2e2e;
	margin: .5em 0;
}
.footer h4 {
	color: #eee;
	font-weight: 300;
	
	text-transform: uppercase;
	@media #{$small-up} {
		margin-top: 0;
	}
}
.footer-btn {
	border: 3px solid #eee;
	color: #fff;
	display: block;
	margin-top: 12px;
	padding: 5px;
	text-align: center;
	&:hover {
		background: #fff;
		color: #333;
		text-decoration: none;
	}
}