/* Navigation
========================================================================== */
.menu-link {
	margin: 0 auto;
	width: 96%;
}

.loading .nav-main-wrapper {
	opacity: 0;

	@media screen and (min-width: $break-medium) {
		opacity: 1;
	}
}

.nav-main-wrapper {
	text-align: center;
	max-height: 500px;
	border: none;
	background: inherit;
	box-shadow: inherit;
	margin-bottom: 0;

	@media screen and (max-width: $break-medium - 1) {
		background: #ffffff;

		/* Old browsers */
		background: -moz-linear-gradient(top, #ffffff 0%, #f2f2f2 100%);

		/* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff), color-stop(100%, #f2f2f2));

		/* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top, #ffffff 0%, #f2f2f2 100%);

		/* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top, #ffffff 0%, #f2f2f2 100%);

		/* Opera 11.10+ */
		background: -ms-linear-gradient(top, #ffffff 0%, #f2f2f2 100%);

		/* IE10+ */
		background: linear-gradient(to bottom, #ffffff 0%, #f2f2f2 100%);

		/* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f2f2f2',GradientType=0 );

		/* IE6-9 */
		-webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.07);
		border-radius: 4px;
		border: 1px solid #d4d4d4;
		display: block;
		max-height: 44px;
		margin: 0 auto 1em auto;
		overflow: hidden;
		position: relative;
		width: 100%;
	}

	&.expand {
		max-height: 500px;
	}
}

.nav-title {
	font-family: $heading-font;
	font-size: em(20);
	font-weight: 300;
	line-height: 44px;
	margin: 0;
	position: relative;
	text-align: left;
	text-transform: uppercase;

	& a {
		color: #222;
		display: block;
		padding: 0 15px;

		&:hover {
			text-decoration: none;
		}
	}

	@media screen and (min-width: $break-medium) {
		display: none;
	}
}

.expand .nav-title {
	background: #eee;
}

.nav-title span {
	border-radius: 4px;
	width: 40px;
	height: 32px;
	position: absolute;
	top: 5px;
	right: 10px;
	border: 1px solid #d5d5d5;
	background: #f2f2f2;

	/* Old browsers */
	background: -moz-linear-gradient(top, #f2f2f2 0%, #e5e5e5 100%);

	/* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f2f2f2), color-stop(100%, #e5e5e5));

	/* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #f2f2f2 0%, #e5e5e5 100%);

	/* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #f2f2f2 0%, #e5e5e5 100%);

	/* Opera 11.10+ */
	background: -ms-linear-gradient(top, #f2f2f2 0%, #e5e5e5 100%);

	/* IE10+ */
	background: linear-gradient(to bottom, #f2f2f2 0%, #e5e5e5 100%);

	/* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f2f2', endColorstr='#e5e5e5',GradientType=0 );

	/* IE6-9 */
	-webkit-box-shadow: inset 0 1px 0 #fff;
	-moz-box-shadow: inset 0 1px 0 #fff;
	-ms-shadow: inset 0 1px 0 #fff;
	box-shadow: inset 0 1px 0 #fff;

	&:after {
		-webkit-box-shadow: 0 10px 0 1px #888888, 0 16px 0 1px #888888, 0 22px 0 1px #888888;
		-moz-box-shadow: 0 10px 0 1px #888888, 0 16px 0 1px #888888, 0 22px 0 1px #888888;
		-ms-box-shadow: 0 10px 0 1px #888888, 0 16px 0 1px #888888, 0 22px 0 1px #888888;
		box-shadow: 0 10px 0 1px #888888, 0 16px 0 1px #888888, 0 22px 0 1px #888888;
		position: absolute;
		left: 11px;
		top: 0;
		display: block;
		width: 16px;
		height: 0;
		color: #888888;
		padding: 0;
		content: '';
	}
}

.nav-main {
	border-top: 1px solid #ddd;
	list-style: none;
	margin: 0 auto;
	padding: 0;

	@media screen and (min-width: $break-medium) {
		border-top: none;
		display: table;
		text-align: center;
	}
}

.nav-main li {
	@media screen and (min-width: $break-medium) {
		border-right: 1px solid #fff;
		display: table-cell;
		text-rendering: optimizelegibility;

		&:first-child {
			border-left: 1px solid #fff;
		}
	}
}

.nav-main a {
	border-bottom: 1px solid #ddd;
	display: block;

	@include rem(14);

	padding: .8em 0 .8em 15px;
	position: relative;
	-webkit-transition: font-size .3s linear;
	-moz-transition: font-size .3s linear;
	transition: font-size .3s linear;

	@media screen and (max-width: $break-medium - 1) {
		text-align: left;

		/* for internet explorer */
	}

	@media screen and (min-width: $break-medium) {
		border-bottom: none;
		color: #333;
		font-family: $heading-font;

		@include rem(17);

		font-weight: 300;
		letter-spacing: .05em;
		line-height: em(21);
		padding: .25em 1.3em .55em;
		text-transform: uppercase;
		white-space: nowrap;
	}

	@media screen and (min-width: $break-large) {
		@include rem(20);

		padding: .25em 1.45em .55em;
	}

	@media screen and (min-width: $break-xlarge) {
		padding: .25em 2em .55em;
	}
}

.nav-main li:last-child a {
	border-bottom: none;
}

/* Hover State */
.nav-main a:hover, .nav-main a:focus {
	background: #eee;

	@media screen and (min-width: $break-medium) {
		background: url(data:image/gif;base64,R0lGODlhCgAFAIAAACIiIgAAACH/C1hNUCBEYXRhWE1QPD94cGFja2V0IGJlZ2luPSLvu78iIGlkPSJXNU0wTXBDZWhpSHpyZVN6TlRjemtjOWQiPz4gPHg6eG1wbWV0YSB4bWxuczp4PSJhZG9iZTpuczptZXRhLyIgeDp4bXB0az0iQWRvYmUgWE1QIENvcmUgNS4zLWMwMTEgNjYuMTQ1NjYxLCAyMDEyLzAyLzA2LTE0OjU2OjI3ICAgICAgICAiPiA8cmRmOlJERiB4bWxuczpyZGY9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkvMDIvMjItcmRmLXN5bnRheC1ucyMiPiA8cmRmOkRlc2NyaXB0aW9uIHJkZjphYm91dD0iIiB4bWxuczp4bXA9Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC8iIHhtbG5zOnhtcE1NPSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAvbW0vIiB4bWxuczpzdFJlZj0iaHR0cDovL25zLmFkb2JlLmNvbS94YXAvMS4wL3NUeXBlL1Jlc291cmNlUmVmIyIgeG1wOkNyZWF0b3JUb29sPSJBZG9iZSBQaG90b3Nob3AgQ1M2IChNYWNpbnRvc2gpIiB4bXBNTTpJbnN0YW5jZUlEPSJ4bXAuaWlkOjRERTA0NTUyOTMxOTExRTI4MTcyRjI5NjI4NDJDMDI5IiB4bXBNTTpEb2N1bWVudElEPSJ4bXAuZGlkOjRERTA0NTUzOTMxOTExRTI4MTcyRjI5NjI4NDJDMDI5Ij4gPHhtcE1NOkRlcml2ZWRGcm9tIHN0UmVmOmluc3RhbmNlSUQ9InhtcC5paWQ6NERFMDQ1NTA5MzE5MTFFMjgxNzJGMjk2Mjg0MkMwMjkiIHN0UmVmOmRvY3VtZW50SUQ9InhtcC5kaWQ6NERFMDQ1NTE5MzE5MTFFMjgxNzJGMjk2Mjg0MkMwMjkiLz4gPC9yZGY6RGVzY3JpcHRpb24+IDwvcmRmOlJERj4gPC94OnhtcG1ldGE+IDw/eHBhY2tldCBlbmQ9InIiPz4B//79/Pv6+fj39vX08/Lx8O/u7ezr6uno5+bl5OPi4eDf3t3c29rZ2NfW1dTT0tHQz87NzMvKycjHxsXEw8LBwL++vby7urm4t7a1tLOysbCvrq2sq6qpqKempaSjoqGgn56dnJuamZiXlpWUk5KRkI+OjYyLiomIh4aFhIOCgYB/fn18e3p5eHd2dXRzcnFwb25tbGtqaWhnZmVkY2JhYF9eXVxbWllYV1ZVVFNSUVBPTk1MS0pJSEdGRURDQkFAPz49PDs6OTg3NjU0MzIxMC8uLSwrKikoJyYlJCMiISAfHh0cGxoZGBcWFRQTEhEQDw4NDAsKCQgHBgUEAwIBAAAh+QQAAAAAACwAAAAACgAFAAACBoSPqcudBQA7) repeat-x left bottom;
		text-decoration: none;

		&:after {
			content: '';
			border-style: solid;
			border-width: 0 6px 6px 6px;
			border-color: transparent transparent #222 transparent;
			display: inline-block;
			height: 0px;
			position: absolute;
			left: 50%;
			margin-left: -6px;
			bottom: 4px;
			text-decoration: none;
			width: 0px;
		}
	}
}

/* Active State */
.nav-main .active a {
	@media screen and (min-width: $break-medium) {
		background: url(data:image/gif;base64,R0lGODlhCgAFAIAAACIiIgAAACH/C1hNUCBEYXRhWE1QPD94cGFja2V0IGJlZ2luPSLvu78iIGlkPSJXNU0wTXBDZWhpSHpyZVN6TlRjemtjOWQiPz4gPHg6eG1wbWV0YSB4bWxuczp4PSJhZG9iZTpuczptZXRhLyIgeDp4bXB0az0iQWRvYmUgWE1QIENvcmUgNS4zLWMwMTEgNjYuMTQ1NjYxLCAyMDEyLzAyLzA2LTE0OjU2OjI3ICAgICAgICAiPiA8cmRmOlJERiB4bWxuczpyZGY9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkvMDIvMjItcmRmLXN5bnRheC1ucyMiPiA8cmRmOkRlc2NyaXB0aW9uIHJkZjphYm91dD0iIiB4bWxuczp4bXA9Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC8iIHhtbG5zOnhtcE1NPSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAvbW0vIiB4bWxuczpzdFJlZj0iaHR0cDovL25zLmFkb2JlLmNvbS94YXAvMS4wL3NUeXBlL1Jlc291cmNlUmVmIyIgeG1wOkNyZWF0b3JUb29sPSJBZG9iZSBQaG90b3Nob3AgQ1M2IChNYWNpbnRvc2gpIiB4bXBNTTpJbnN0YW5jZUlEPSJ4bXAuaWlkOjRERTA0NTUyOTMxOTExRTI4MTcyRjI5NjI4NDJDMDI5IiB4bXBNTTpEb2N1bWVudElEPSJ4bXAuZGlkOjRERTA0NTUzOTMxOTExRTI4MTcyRjI5NjI4NDJDMDI5Ij4gPHhtcE1NOkRlcml2ZWRGcm9tIHN0UmVmOmluc3RhbmNlSUQ9InhtcC5paWQ6NERFMDQ1NTA5MzE5MTFFMjgxNzJGMjk2Mjg0MkMwMjkiIHN0UmVmOmRvY3VtZW50SUQ9InhtcC5kaWQ6NERFMDQ1NTE5MzE5MTFFMjgxNzJGMjk2Mjg0MkMwMjkiLz4gPC9yZGY6RGVzY3JpcHRpb24+IDwvcmRmOlJERj4gPC94OnhtcG1ldGE+IDw/eHBhY2tldCBlbmQ9InIiPz4B//79/Pv6+fj39vX08/Lx8O/u7ezr6uno5+bl5OPi4eDf3t3c29rZ2NfW1dTT0tHQz87NzMvKycjHxsXEw8LBwL++vby7urm4t7a1tLOysbCvrq2sq6qpqKempaSjoqGgn56dnJuamZiXlpWUk5KRkI+OjYyLiomIh4aFhIOCgYB/fn18e3p5eHd2dXRzcnFwb25tbGtqaWhnZmVkY2JhYF9eXVxbWllYV1ZVVFNSUVBPTk1MS0pJSEdGRURDQkFAPz49PDs6OTg3NjU0MzIxMC8uLSwrKikoJyYlJCMiISAfHh0cGxoZGBcWFRQTEhEQDw4NDAsKCQgHBgUEAwIBAAAh+QQAAAAAACwAAAAACgAFAAACBoSPqcudBQA7) repeat-x left bottom;

		&:after {
			content: '';
			border-style: solid;
			border-width: 0 6px 6px 6px;
			border-color: transparent transparent #222 transparent;
			display: inline-block;
			height: 0px;
			position: absolute;
			left: 50%;
			margin-left: -6px;
			bottom: 4px;
			text-decoration: none;
			width: 0px;
		}
	}
}

/* Secondary Navigation
========================================================================== */
.section-title, #blog-sidebar h3 {
	text-transform: uppercase;

	@media screen and (min-width: $break-medium) {
		margin: 1.25em 0 1.20em 15px;
		font-size: 30px;
	}

	& a {
		color: #333;
	}
}

.sec-nav ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

.sec-nav a {
	border-bottom: 1px solid #ddd;
	color: #333;
	display: block;
	padding: 10px 0 10px 5px;

	&:hover {
		background-color: #000;
		color: #fff;
		text-decoration: none;
	}

	@media screen and (min-width: $break-medium) {
		padding-left: 15px;
	}
}

.first-level {
	border-top: 1px solid #ddd;
	margin-bottom: 1em;
}

.second-level, .third-level {
	background: #f2f2f2;
	background: rgba(0, 0, 0, 0.05);

	@include rem(14);
}

.second-level a {
	padding-left: 30px;
}

.third-level a {
	@include rem(13);

	padding-left: 50px;
}

.sec-nav .active > a {
	background: #000;
	color: #fff;
	position: relative;

	@media screen and (min-width: $break-medium) {
		&:before {
			content: '';
			width: 0px;
			height: 0px;
			border-style: solid;
			border-width: 21px 0 21px 8px;
			border-color: transparent transparent transparent #fff;
			position: absolute;
			left: -1px;
			top: 50%;
			margin-top: -21px;
		}
	}
}

#mc_embed_signup input#mc-embedded-subscribe {
	margin: 0;
}

/* TAG-based Navigation
========================================================================== */
.sec-nav {
	.tag-nav {
		li {
			display: block;
			margin: 0;

			a {
				background: none;

				&:hover {
					color: #000;
				}

				.count {
					display: none;
				}
			}
		}
	}
}