// @import "lib/fa/font-awesome";

.cms .ss-ui-button.ss-button-social {
    color: white;
    text-shadow: none;
}

.cms .ss-ui-button.ss-button-fb {
    background: #3b5998;
}

.cms .ss-ui-button.ss-button-twitter {
    background: #00aced;
}

.cms .ss-gridfield {
    overflow-x: visible;
}

#Menu-CmsCustomLink a span.menu__icon {
    color: rgb(96, 138, 86);

}
