@charset "utf-8";

// Foundation
@import "settings/division-settings";
@import "settings/subtheme";

@import "lib/foundation/scss/foundation";

@include foundation-global-styles;
@include foundation-table;
@include foundation-typography;
@include foundation-button;
@include foundation-float-classes;

// Components
@import "components/typography";
@import "layouts/default";

body{
    margin: 10px;
    font-size: 17px;
}
.mce-content-body p {
    line-height: 1.5;
}

img.right{
	float: right;
}

img.left{
	float: left;
}

// tables
table {margin: 1rem 0;}
table thead th,
table thead td,
table tbody th,
table tbody td {
    font-size: rem-calc(15);
    text-align: left;
}
table p {margin: 0;}
