

/* Before Content */
.elemental-area--BeforeContent,
.elemental-area--AfterContent {
	background-color: $cream;

	/* Text Block */
	& .textblock {
		padding: rem-calc(30 0);

		@include breakpoint(large) {
			padding: rem-calc(60 0);
		}
	}
}

.elemental-area--BeforeContentConstrained .content-block__container,
.elemental-area--AfterContentConstrained .content-block__container,
.elemental-area--SidebarArea .content-block__container {
	margin-bottom: rem-calc(15);
}

.content-block-header{
	margin-bottom: rem-calc(30);
	letter-spacing: 0.1em;
	&--with-padding{
		padding-top: rem-calc(20);
	}
}
