.embed-block__iframe {
    box-shadow: 0px 0px 50px -11px rgba(0, 0, 0, 0.23);
}

.embed-block__embed-container {
    box-shadow: 0px 0px 50px -11px rgba(0, 0, 0, 0.23);
}

.embed-block__embed-container--manual {
    box-shadow: none;
}

.embed-block__image {
    display: inline-block;
}

.embed-block-link-area {
    text-align: center;


    a {}
}
