.featuredpageblock {
    @include xy-grid;
    // background-color: $cream;
    &__media {
        @include xy-cell($gutter-type: padding, $gutter-position: top right bottom left);
        @include breakpoint(medium) {
            @include xy-cell(6, $gutter-type: padding);
        }
    }
    &__body {
        @include xy-cell($gutter-type: padding, $gutter-position: top right bottom left);
        @include breakpoint(medium) {
            @include xy-cell(6, $gutter-type: padding);
        }
    }
    &__desc {
        margin: rem-calc(20 0);
    }
    &__title {
        margin-top: 0;
        font-family: $serif-font-family;
        font-weight: 600;
        font-size: rem-calc(40);
        & a {
            color: $body-font-color;
            &:hover, &:focus {
                text-decoration: underline;
            }
        }
    }
}

/* Full size background image
--------------------------------------------- */
.featuredpageblock-bg {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    color: $white;
    position: relative;
    & .content-block {
       @include xy-grid-container;
    }
    & .featuredpageblock {
        background-color: inherit;
    }
    & .featuredpageblock__body {
        width: 100%;
        &:after {
            content: "";
            height: 100%;
            left: 0;
            position: absolute;
            top: 0;
            width: 100%;
            z-index: 1;
            background-image: linear-gradient(270deg, rgba(0, 0, 0, 0) 1%, rgba(0, 0, 0, 0.75) 60%);
        }
        @include breakpoint(medium) {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 50%;
        }
    }
    & .featuredpageblock__desc,
    & .featuredpageblock__button,
    & .featuredpageblock__rule,
    & .featuredpageblock__title {
        z-index: 2;
        position: relative;
    }
    & .featuredpageblock__title {
        text-shadow: 1px 1px rgba(0,0,0,.2);
        &:after {
            border-bottom-color: #fff;
        }
        @include breakpoint(large) {
            font-size: rem-calc(45);
        }
    }
    & .featuredpageblock__desc {
        font-weight: bold;
    }
    @include breakpoint(medium) {
        padding: 56.25% 0 0 0;
    }
}

/* ----------------------------------------------------------
Sidebar
------------------------------------------------------------*/
.elemental-area--SidebarArea .featuredpageblock-bg {
    @include breakpoint(large) {
        padding: 0;
        & .featuredpageblock__body {
            position: relative;
            &:after {
                background-color: rgba(0,0,0,.6);
                background-image: none;
            }
        }
        & .content-block {
            padding: 0;
        }
        & .featuredpageblock {
            border: none;
        }
    }
}
.elemental-area--SidebarArea .featuredpageblock {
    background-color: inherit;
    @include breakpoint(large) {
        border: 1px solid $light-gray;
        &__media, &__body {
            width: 100%;
        }
        &__title {
            font-size: rem-calc(20);
        }
        &__desc {
            font-size: rem-calc(16);
        }
    }
}

/* ----------------------------------------------------------
Before Content / After Content
------------------------------------------------------------*/
.elemental-area--BeforeContent .content-block,
.elemental-area--AfterContent .content-block {
    @include xy-grid-container;
}

.elemental-area--BeforeContent .featuredpageblock-bg,
.elemental-area--AfterContent .featuredpageblock-bg {
    padding: 0;
    &:after {
        content: "";
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
        z-index: 1;
        background-color: rgba(0,0,0,.6);
        @include breakpoint(medium) {
            background-image: linear-gradient(270deg, rgba(0, 0, 0, .1) 5%, rgba(0, 0, 0, 0.7) 80%);
            background-color: transparent;
        }
    }
}
.elemental-area--BeforeContent .featuredpageblock-bg .featuredpageblock,
.elemental-area--AfterContent .featuredpageblock-bg .featuredpageblock {
    &__body {
        position: relative;
        &:after {
            display: none;
        }
    }
    @include breakpoint(large) {
        min-height: 500px;
        @include vertical-align;
    }
}


/* ----------------------------------------------------------
Before Content Constrained / After Content Constrained
------------------------------------------------------------*/


.elemental-area--BeforeContentConstrained .featuredpageblock,
.elemental-area--AfterContentConstrained .featuredpageblock {

    &__body{
        padding: rem-calc(20);
    }
    &__media,
    &__body--wimage {
        @include breakpoint(medium) {
            @include xy-cell(6, $gutter-position: top right bottom left, $gutter-type: padding);
        }
    }
}
.elemental-area--BeforeContent .featuredpageblock,
.elemental-area--AfterContent .featuredpageblock {
    &__media {
        @include breakpoint(medium) {
            padding-left: 0;
        }
    }
}



