/* ----------------------------------------------------------
News
------------------------------------------------------------*/
.newsblock {
	overflow: hidden;
    ul {
        list-style: none;
        margin: 0;
    }
    @include breakpoint(medium) {
        padding-bottom: rem-calc(30);
    }
    .sidebar & {
        padding-bottom: 0; // remove padding in sidebar
    }
}

/*-----------------------------------------
After Content Constrained | Before Content Constrained
-------------------------------------------*/
.elemental-area--AfterContentConstrained .newsblock,
.elemental-area--BeforeContentConstrained .newsblock {
    background-color: inherit;
    & .blogcard {
        border-bottom: 1px solid $light-gray;
        padding: rem-calc(15 0);
        &__heading {
            font-size: rem-calc(22);
        }
    }
}

/*-----------------------------------------
After Content | Before Content
-------------------------------------------*/
.elemental-area--AfterContent .newsblock,
.elemental-area--BeforeContent .newsblock {
    & .blogcard {
        &__img {
            display: none;
        }
        &__content--wimage {
            margin-right: 0;
        }
    }
}

/* Adds Flickity Slider for small screens */
.news-slider {
    margin-bottom: rem-calc(50); // to make room for pagination dots
    @include breakpoint(medium) {
        @include xy-grid;
        margin-left: rem-calc(-20);
        margin-right: rem-calc(-20);
        margin-bottom: 0;
    }
}
.news-slider:after {
    content: 'flickity'; /* enables Flickity */
    display: none;
    @include breakpoint(medium) {
        content: ''; /* disables Flickity */
    }
}
.news-slider-cell {
    background-color: $white;
    border-radius: 2px;
    padding: rem-calc(0 15);
    width: 80%;
    margin-right: 20px;
    margin-bottom: 10px;
    @include breakpoint(medium) {
        @include xy-cell(4);
        background-color: inherit;
        padding: inherit;
    }
}
.news-slider .flickity-viewport {
  transition: height 0.2s;
}

/*-----------------------------------------
Sidebar
-------------------------------------------*/
.elemental-area--SidebarArea .newsblock {
	background-color: $white;
	border: 1px solid $light-gray;
	margin-bottom: rem-calc(30);
	width: 100%;
	& li {
		border-bottom: 1px solid $light-gray;
		line-height: 1.4;
		&:last-of-type {
			border-bottom: none;
		}
	}
	& li img {
		display: block;
		margin-bottom: rem-calc(10);
		@include breakpoint(mobile) {
			float: right;
			width: 175px;
			margin-left: rem-calc(15);
		}
		@include breakpoint(large) {
			float: none;
			margin-left: 0;
			width: auto;
		}
	}
	& li a {
		color: $body-font-color;
		display: block;
		font-size: rem-calc(16);
		padding: rem-calc(20);
		position: relative;
		&:hover, &:focus {
			color: $anchor-color;
		}
	}

}

