/*-----------------------------------------------
Slideshow Block
-------------------------------------------------*/
.slideshow {
    background-color: #f8f6f3;
    &__caption {
        padding: rem-calc(10);
        font-size: rem-calc(16);
        text-align: center;
    }
    &__slide {
        width: 100%;
        margin-right: 10px;
    }
}

/*-----------------------------------------------
After Content | Before Content
-------------------------------------------------*/
.elemental-area--BeforeContent,
.elemental-area--AfterContent {
    & .slideshowblock {
        padding: rem-calc(30 0);
    }
    & .slideshow {
        &__slide {
            @include breakpoint(large) {
                width: 80%;
            }
        }
    }
}


/*----------------------------------------------------
After Content Constrained | Before Content Constrained
-----------------------------------------------------*/



/*-----------------------------------------------
Sidebar
-------------------------------------------------*/
.elemental-area--SidebarArea {
    & .flickity-prev-next-button {
        width: 30px;
        height: 30px;
    }
}
