/* ----------------------------------------------------------
Staff Member Block
------------------------------------------------------------*/
.staffmemberblock {
	@include xy-grid;
	background-color: $cream;
	&__media {
        @include xy-cell($gutter-type: padding, $gutter-position: top right bottom left);
		@include breakpoint(medium) {
			@include xy-cell(6, $gutter-type: padding);
		}
	}
	&__body {
        @include xy-cell($gutter-type: padding, $gutter-position: top right bottom left);
		@include breakpoint(medium) {
			@include xy-cell(6, $gutter-type: padding);
		}
	}
	&__desc {
		margin: rem-calc(20 0);
	}
	&__title {
		margin-top: 0;
	}
	&__position {
		font-size: rem-calc(16);
	}
	&__contact {
        font-size: rem-calc(16);
		list-style: none;
		margin: 0;
		& img {
			margin-right: 5px;
		}
	}
}

/* ----------------------------------------------------------
Sidebar
------------------------------------------------------------*/
.elemental-area--SidebarArea .staffmemberblock {
	&__media, &__body {
		@include breakpoint(large) {
			width: 100%;
		}
	}
}
