.upcoming-events {
    &__media a {
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        display: block;
        padding-bottom: 56.25%;
        .card--horizontal & {
            @include breakpoint(medium) {
                margin-bottom: rem-calc(30);
            }
        }
    }
}



